/* ================================================== */
/* created by designesia

* body
* header
	* subheader
* navigation
* content
* section
* footer
* sidebar
* blog
* products
* contact
* coming soon page
* elements
	* address
	* border
	* breadcrumb
	* button
	* columns
	* counter
	* divider
	* dropcap
	* form
	* heading
	* icon font
	* list
	* map
	* package
	* page heading
	* pagination
	* pricing
	* progress bar
	* social icons
	* spacer
	* table
	* tabs
	* team
	* testimonial
* css attributes
* media query

/* ================================================== */
@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,500,600,700,900,400);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500,500italic,700,700italic,100,100italic);

/* ================================================== */
/* body */
/* ================================================== */
html,body{
height:100%;
}


body {
	font-family: "Open Sans",Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:400;
	color: #ddd;
	line-height: 1.8em;
	padding: 0;
	background:#606060;
}

body.de_light{
	color:#555;
	background:#333;
}

#wrapper{
	overflow-x:hidden;
}

/* ================================================== */
/*  header	*/ 
/* ================================================== */
	header {
	width: 100%;
	height: 80px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	border-bottom:solid 1px rgba(0,0,0,0.0);
	}
	
	header.header-bg{
	background:rgba(34,34,34,0.5);
	}
	
	header.transparent{
	background:rgba(0,0,0,0.0);
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

	border:none;

	}
	
	header.autoshow{
	top:-80px;
	}
	
	header.autoshow.scrollOn,header.autoshow.scrollOff{
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
	outline: none;	
	}
	
	header.autoshow.scrollOn{
	top:0;
	}
	
	header.autoshow.scrollOff{
	top:-80px;
	}
	
	header #logo {
	display: inline-block;
	height: 100%;
	float: left;
	font-size: 60px;
	color: white;
	font-weight: 400;
	line-height:60px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s; 
	}
	header #logo .logo-2{
	display:none;
	}
	header.header_center #logo{
	display:none;
	}
	header.header_center{
	}
	header.header_center .logo_pos img{
	margin:-15px 40px 0 40px;
	}
	header.header_center #mainmenu{
	padding-top:50px;
	} 
	header.smaller img{
	height:50px !important;
	margin:10px 20px 0 20px !important;
	}
	header.smaller.header_center #logo{
	display:none;
	}
	
	header.header_left #mainmenu{
	padding-top:50px;
	} 
	header.smaller.header_left img{
	height:50px !important;
	margin:0px 20px 0 20px !important;
	}
	
	
	
	header nav {
	float:right;
	}
	header nav a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s; 
	}
	header nav a:hover {
	color: #555; 
	}
	header.header_center  nav{
	width:100%;
	text-align:center;
	}

	
	header.smaller #mainmenu{
	padding-top:0;
	}
	header.smaller #mainmenu a{
	padding-top: 18px;
	padding-bottom:18px;
	}
	header.smaller #mainmenu a{
	padding-top: 18px;
	padding-bottom:18px;
	}
	header.smaller #mainmenu li li a{
	padding-top: 2px;
	padding-bottom:2px;
	}
	header.smaller #mainmenu > ul{
	top:70px;
	}
	header.smaller {
	height: 70px;
	background:rgba(0,0,0,.8);
	margin-top:0;
	position:fixed;
	top:0;
	}
	.logo-smaller #logo {
	width: 150px;
	height:50px;
	line-height: 60px;
	font-size: 30px;
	}
	.logo-smaller #logo img{
	line-height: 75px;
	font-size: 30px;
	}
	.logo-smaller  #logo .logo-1{
	display:none;
	}
	.logo-smaller  #logo .logo-2{
		display:inline-block;
	}
	.logo-smaller  #logo  img{
		max-height:50px;
	}
	.logo-small{
	margin-bottom:20px;
	}
	header.fixed #mainmenu a{
	padding: 18px 20px 18px 20px !important;	
	}
	header.fixed {
	height: 70px;
	background:rgba(255,255,255,0.90);
	border-bottom:solid 1px #ddd; 
	}
	header.fixed #logo {
	width: 150px;
	height:30px;
	line-height: 65px;
	font-size: 30px;
	}
	header.fixed #logo img{
	width:auto;
	height:30px;
	line-height: 75px;
	font-size: 30px;
	}
	header.fixed #logo img.logo-1{
	display:none;
	}
	header.fixed #logo img.logo-2{
	display:inline-block;
	}
	
	header.header_scroll{
	position:absolute;
	display:block;
	}	
	
	header.smaller.header_light{
	background:rgba(255,255,255,.95);
	border-bottom:solid 1px #eee;
	}
	
	header.smaller.header_light #mainmenu a{
	color:#333;
	}
	
	header.smaller.header_light #mainmenu li li a{
	background:#fff;
	border-bottom-color:#eee;
	}
	
	header .logo_light_bg{
	display:none;
	}	
	header.smaller.header_light .logo_dark_bg{
	display:none;
	}
	header.smaller.header_light .logo_light_bg{
	display:block;
	margin-top:10px !important;
	}
	
	header .c_logo_dark{
	display:none;
	}	
	header.smaller.header_light .c_logo_light{
	display:none;
	}
	header.smaller.header_light .c_logo_dark{
	display:block;
	}
	
	
	/* subheader */
	#subheader{
	padding-bottom:70px;
	background:#222;
	}
	#subheader.subh-center{
	text-align:center;
	}
	#subheader h1 {
	color:#eceff3;
	margin-top:80px;
	font-size: 48px;
	float: left;
	padding-right: 40px;
	margin-right: 40px;
	font-weight:300;
	}

	
	#subheader h4{
	display:inline-block;
	letter-spacing:5px;
	font-size:14px;
	font-weight:500 !important;
	}
	#subheader.subh-center h1{
	float:none;
	padding:0;
	margin:110px 0 0 0;
	}
	#subheader span {
	letter-spacing:2px;
	display: inline-block;
	font-size: 15px;
	margin-top:88px;
	color:#fff;
	}
	#subheader .crumb{
	font-size:10px;
	letter-spacing:3px;
	margin-top: 90px;
	color:#fff;
	text-transform:uppercase;
	}
	#subheader.subh-center  .crumb{
	margin-top:20px;
	}


/* ================================================== */
/* navigation */
/* ================================================== */
	
	
	.header_center #mainmenu{
	float:none !important;
	display:inline-block;
	}
	
	header.header_center  nav ul li{
	text-align:left;
	}
	
	#mainmenu {
	font-family:"Roboto Condensed", Arial, Helvetica, sans-serif;	
    font-size:14px;
}	

	#mainmenu > li{
		font-weight:400;
		letter-spacing:1px;
		text-transform:uppercase;    
	}

#mainmenu,
#mainmenu a,
#mainmenu ul,
#mainmenu li,
#mainmenu div,
#mainmenu form,
#mainmenu input {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

#mainmenu a { text-decoration: none; }

#mainmenu li { list-style: none; }

/* Menu Container */
#mainmenu {
	display: inline-block;
	position: relative;
	cursor: default;
	z-index: 500;
}

/* Menu List */
#mainmenu > li {
	display: block;
	float: left;
}

/* Menu Links */
#mainmenu > li > a {
	position: relative;
	display: block;
	z-index: 510;
	margin-top:8px;
	padding:20px;
	color: #fcfcfc;


	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

header.smaller.header_center #mainmenu > li > a {
margin-top:0;
padding:23px 20px 23px 20px;
}

#mainmenu > li:hover > a { }


/* Search Form */
#mainmenu > li.menu-search > form {
	position: relative;
	width: inherit;
	height: 54px;
	z-index: 510;
	border-left: 1px solid #4b4441;
}

/* Menu Dropdown */
#mainmenu > li > div {
	position: absolute;
	display: block;
	width: 100%;
	margin-top:0px;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;

	background: #333;
	border-radius: 0 0 3px 3px;

	-webkit-transition: all .3s ease .15s;
	-moz-transition: all .3s ease .15s;
	-o-transition: all .3s ease .15s;
	-ms-transition: all .3s ease .15s;
	transition: all .3s ease .15s;
}

#mainmenu > li:hover > div {
	opacity: 1;
	visibility: visible;
	overflow: visible;
}

#mainmenu li  div a:hover{
	background:none !important;
}

/* Menu Content Styles */
#mainmenu .menu-column-5 {
	float: left;
	width: 20%;
	padding: 2.5%;
}

#mainmenu .menu-column-4 {
	float: left;
	width: 25%;
	padding: 2.5%;
}

#mainmenu .menu-column-3 {
	float: left;
	width: 33.3%;
	padding: 2.5%;
}

#mainmenu h3 {
	margin: 10px 0 10px 0;
	line-height: 18px;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}

#mainmenu .menu-column h3.orange { color: #ff722b; }

#mainmenu .menu-column li a {
	display: block;
	line-height: 26px;
	font-weight: bold;
	font-size: 13px;
	color: #888888;
}

#mainmenu .menu-column li a:hover { color: #666666; }

#mainmenu > li > ul {
	width: 201px;
	height: auto;
	position: absolute;
	margin-top:0px;
	z-index: 10;
	display: none;
	}

#mainmenu li:hover > ul {
	display: block;
	}

#mainmenu > li > ul > li > a{
    background:#333;
    display:block;
    padding:10px 20px 10px 20px !important;
    color:#fff;
	border-bottom:solid 1px #404040;
}

/* submenu level 2 */
#mainmenu > li > ul > li > ul{
	display:none;
	width: 201px;
	height: auto;
	top:0;
	z-index: 10;
	margin-left:201px;
	position:absolute;
}
#mainmenu > li > ul > li > ul > li > a{
	background:#222;
    display:block;
    padding:10px 20px 10px 20px !important;
    color:#fff;
	border-bottom:solid 1px #333;
}
#mainmenu > li > ul > li > ul > li:last-child > a{
	border-bottom:none;
}
#mainmenu li > ul > li:hover > ul {
	display: block;
}

#mainmenu  ul li{
text-align:left;
text-transform:none;
letter-spacing:2px;
}

#mainmenu ul li a:hover {
color:#fff !important;
}

	
	
	/* menu toggle for mobile */
	#menu-btn{
	display:none;
	float:right;
	margin-top:5px;
	width:36px;
	height:36px;
	padding:6px;
	text-align:center;
	cursor:pointer;
	}
	
	#menu-btn:before{
	font-family:FontAwesome;
	content: "\f0c9";
	font-size:24px;
	color:#eceff3;
	}
	
	#menu-btn:hover{
	background:#fff;
	}
	
	#menu-btn:hover:before{
	color:#222;
	}


/* ================================================== */
/* content */
/* ================================================== */
	#content {
	width:100%;
	background:#fff;
	padding:90px 0 90px 0;
	z-index:100;
	}
	
	.de_light #content{
	background:#fff;
	}
		
	
	#content{
	background:#18191b;
	}


/* ================================================== */
/* section */
/* ================================================== */
	section{padding:90px 0 90px 0;}
	section{background:#18191b;}
	
	.full-height{
		height:100%;
		position:relative;
	}
	
	.de_light section{
	background:#fff;
	}
	
	.section-fixed {
	position:fixed;
	width:100%;
	min-height:100%;
	height:auto;
	}
	
/* ================================================== */
/* footer */
/* ================================================== */
footer {
	background: #111;
	color: #ccc;
	padding: 60px 0 0 0;
	}
	
	footer h3, .de_light footer h3 {
	color:#fff;
	}
	
	footer a {
	color: #ccc;
	}
	
	footer a:visited {
	color: #ccc;
	}
	
	footer a:hover {
	color:#eceff3;
	}

	.subfooter{
	background:#151515;
	padding:30px 0 20px 0;
	margin-top:30px;
	}

/* ================================================== */
/* blog */
/* ================================================== */
	.blog-list {
	margin: 0;
	padding: 0;
	}
	/* blog list */
	.blog-list li {
	list-style: none;
	background: url(../images/dotwhite50.png);
	line-height: 1.7em;
	margin-bottom: 60px;
	margin-top:10px;
	}
	.blog-list h3{
	font-weight:normal;
	font-size:20px;
	line-height:1.2em;
	}
	.de_light .blog-list li{
	}
	.blog-list h3{
	margin-top:20px;
	}	
	.blog-list h3 a{
	color:#fff;
	}
	.de_light  .blog-list h3 a{
	color:#111;
	}
	.de_light  .text-light  .blog-list h3 a{
	color:#fff;
	}
	.blog-list .btn-more{
	padding:3px 25px 3px 25px;
	color:#111;
	text-transform:uppercase;
	text-decoration:none;
	font-weight:700;
	}
	.blog-list .btn-more:hover{
	background:#fff;
	}
	.de_light .blog-list .btn-more:hover{
	background:#222;
	color:#fff;
	}
	.blog-list .post-text{
	padding-left:80px;
	}
	.blog-list .blog-slider{
	margin-bottom:-60px;
	}
	.blog-list .date-box {
	width: 60px;
	position: absolute;
	text-align: center;
	text-shadow:none;
	margin-top:-30px;
	}
	.blog-list .date-box .day, .blog-list .date-box .month {
	display: block;
	color:#fff;
	text-align:center;
	width:60px;
	z-index:100;
	}
	
	.de_light .blog-list .date-box .day, .de_light .blog-list .date-box .month {
	color:#111;
	}
	
		
	.blog-list .date-box .month {
	font-size:14px;
	margin-left:2px;
	}
	
	
	.blog-list .date-box .day{
	color:#111;
	font-weight:600;
	font-size: 28px;
	padding:15px 0 15px 0;
	}
	
	.de_light .blog-list .date-box .day{
	color:#fff;
	}
	
	.blog-list .date-box .month {
	color:#fff;
	font-family:"Open Sans";
	font-weight:600;
	padding:7px 0 7px 0;
	border-bottom:solid 3px #333;
	}
	
	.de_light  .text-light  .blog-list .date-box .month{
	color:#fff;
	}
	
	.blog-snippet li{
	border-bottom:none !important;
	margin-bottom:0;
	}
	
	#blog-carousel .item{
	width:100%;
	}
	
	/* blog comment */
	#blog-comment {
	margin-top: 40px;
	margin-left: 80px;
	}
	
	#blog-comment h5 {
	margin-bottom: 10px;
	}
	
	#blog-comment ul, #blog-comment li {
	list-style: none;
	margin-left: -30px;
	padding-left: 0;
	}
	
	#blog-comment li {
	min-height: 70px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	padding-bottom: 20px;
	border-bottom: solid 1px #eee;
	}
	
	#blog-comment li .avatar {
	position: absolute;
	margin-top: 5px;
	}
	
	#blog-comment .comment {
	margin-left: 85px;
	}
	
	#blog-comment li {
	min-height: 70px;
	font-size: 14px;
	line-height: 1.6em;
	}
	
	#blog-comment li li {
	margin-left: 55px;
	padding-bottom: 0px;
	margin-top: 20px;
	padding-top: 10px;
	border-top: solid 1px #eee;
	border-bottom: none;
	}
	
	#blog-comment li li .avatar {
	position: absolute;
	}
	
	#blog-comment li li .comment {
	}
	
	.comment-info {
	margin-left: 85px;
	margin-bottom: 5px;
	}
	
	.comment-info span {
	}
	
	.comment-info .c_name {
	display: block;
	font-weight: 700;
	color: #555555;
	}
	
	.comment-info .c_reply {
	padding-left: 20px;
	margin-left: 20px;
	border-left: solid 1px #ddd;
	font-size: 12px;
	}
	
	.comment-info .c_date {
	font-size: 12px;
	}
	
	.blog-read h3 {
	color: #333;
	letter-spacing:normal;
	font-size:24px;
	text-transform:none;
	}
	

	


	/* blog comment form */
	#commentform label {
	display: block;
	}
	#commentform input {
	width: 290px;
	}
	#commentform input:focus {
	border: solid 1px #999;
	background: #fff;
	}
	#commentform textarea {
	width: 97%;
	padding: 5px;
	height: 150px;
	color:#333;
	}
	#commentform textarea:focus {
	border: solid 1px #999;
	background: #fff;
	}
	#commentform input.btn {
	width: auto;
	}
	
	.post-meta {
	margin: 0px 0 10px 0px;
	border: solid 1px #eee;
	border-left:none;
	font-size:11px;
	display:table;
	width:100%;
	table-layout: fixed;
	}
	.post-meta a{
	color:#888 !important;
	}
	.post-meta span {
		display:table-cell;
		padding:10px 0 10px 0;
		text-align:center;
		border-left:solid 1px #eee;
	}
	.post-meta span i {
	float: none;
	}
	.post-image img {
	width:100%;
	margin-bottom: 0px;
	}
	.post-meta{
	border-color:#222;
	}
	.post-meta span{
	border-color:#222;
	}
	


	
	.blog-slide{
	padding:0;
	margin:0;
	}

/* ================================================== */
/* products */
/* ================================================== */

.products{
text-align:center;
padding:0;
list-style:none;
}
.products li{
margin-bottom:40px;
}
.product .price{
margin-bottom:10px;
font-size:24px;
font-weight:bold;
font-family:"Roboto Condensed";
}
.products li h4{
font-size:14px;
margin-top:20px;
display:inline-block;
}
.products li .btn{
margin-top:0px;
padding:5px 20px 5px 20px;
background:#eee;
color:#fff;
border:none !important;
border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;
font-size:12px;
}
.products li .btn:before{
font-family:"FontAwesome";
content:"\f07a";
margin-right:15px;
}
.product img{
padding:2px;
background:#333;
border:solid 1px #fff;
}
.de_light .product img{
padding:0;
border:none;
}	
	
/* ================================================== */
/* contact form */
/* ================================================== */
	.error {
	padding:20px;
	border:none;
	display: none;
	color: #d9534f;
	border:solid 1px #d9534f;
	font-size: 12px;
	}
	.success {
	display:none;
	padding:20px;
	font-weight:bold;
	color: #5cb85c;
	border:solid 2px #5cb85c;
	margin-bottom: 20px;
	}
	.error img {
	vertical-align: top;
	}
	.full {
	width: 98%;
	}

	#contact_form{
	margin-top:20px;
	}
	
	.deform-1 input[type=text],.deform-1 textarea,.deform-1 input[type=email],#search{
	padding:10px;
	margin-bottom:20px;
	color:#fff;
	border:solid 1px rgba(0,0,0,.3);
	background:rgba(0,0,0,.2);
	border-radius:0 !important;
	height:auto;
	}
		.de_light .deform-1 input[type=text],.de_light .deform-1 textarea,.de_light .deform-1 input[type=email], .de_light #search{
		border:solid 1px #ddd;
		background:#f5f5f5;	
		color:#333;
		}

	
	
	
	#contact_form input[placeholder],#contact_form textarea[placeholder]{
	color:#eee;
	}
	#contact_form input[type=submit]{
	background:none;
	}
	
	
	#contact_form textarea{
	height:165px;
	}
	
	#form_booking textarea{
	height:165px;
	}
	
	.error_input{
	border-color:#D31E2B !important;
	}

/* ================================================== */
/* coming soon page */
/* ================================================== */
	
	.coming-soon .logo{
	margin:0;
	padding:0;
	}
	
	.coming-soon h2{
	margin-top:0;
	color:rgba(255,255,255,.8);
	font-weight:400;
	}
	
	.coming-soon  .social-icons i{
	font-size:20px;
	margin-left:10px;
	margin-right:10px;
	}
	
	.coming-soon .social-icons i:hover{
	background:none;
	color:rgba(255,255,255,.2) !important;
	}
	
	
	.arrow-up, .arrow-down {
	width: 48px; 
	height: 48px; 
	position:fixed;
	margin-left: auto;
	margin-right: auto;
	display:block;
	left: 0;
	right: 0;
	bottom:40px;
	cursor:pointer;
	z-index:101;
	border-radius:60px;	
	}
	
	.arrow-down {
	position:fixed;
	z-index:102;
	top:40px;
	display:none;
	}
	
	.arrow-up:before{
	font-family:"FontAwesome";
	font-size:20px;
	content:"\f067";
	color:#fff;
	position:relative;
	margin:16px;
	top:12px;
	}
	
	.arrow-down:before{
	font-family:"FontAwesome";
	font-size:20px;
	content:"\f068";
	color:#fff;
	position:relative;
	margin:16px;
	top:12px;
	}
	

/* ================================================== */
/* elements */
/* ================================================== */
	
	/* address */
	/* ------------------------------ */
	address{
	margin:0;
	margin-top:20px;
	}
	address span {
	display: block;
	border-bottom:solid 1px #222;
	padding-bottom:5px;
	margin-bottom:5px;
	font-weight:300;
	}
	
	.de_light .widget_text address span {
	border-bottom:solid 1px #ddd;
	}
	
	address span strong {
        display: inline-block;
        width: 60px;
    }
	
	address span{
	border-bottom-color:rgba(255,255,255,.1);;
	}
	
	address span i{
	margin-top:5px;
	margin-right:20px;
	float:none;
	}
	
	address span strong {
	display: inline-block;
	}
	
	address span a{
	color:#eceff3;
	}
	
	.de_light #sidebar .widget address span{
	border-bottom:solid 1px #ddd;
	}
	
	.de_light #sidebar .widget address a{
	color:#333;
	}
	
	
	/* border */
	/* ------------------------------ */
	.small-border{
	height:2px;
	width:120px;
	background:#ccc;
	display:block;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:30px;
	}
	
	.small-border.left{
	margin-left:0;
	margin-right:0;
	}
	
	.tiny-border{
	background:#eee;
	}
	
	.tiny-border span{
	height:2px;
	width:60px;
	background:#ccc;
	display:block;
	margin-top:20px;
	margin-bottom:30px;
	}
	
	.border-sm{
	width:60px;
	height:2px;
	background:#333;
	margin:20px 0 20px 0;
	}
	
	.border-xs{
	width:30px;
	height:2px;
	background:#333;
	margin:20px 0 20px 0;
	}
	
	/* breadcrumb */
	/* ------------------------------ */
	.crumb {
	color:#777;
	float: right;
	font-size: 12px;
	padding:0;
	margin:0;
	}
	
	.crumb li {
	display: inline;
	text-decoration: none;
	padding: 0 2px 0 2px;
	}
	
	.crumb a{
	text-decoration:none;
	}
	
	.subh-center .crumb{
	float:none;
	text-align:center;
	}
	
	.de_light .crumb a:hover{
	color:#fff;
	}

	
	/* button */
	/* ------------------------------ */
	input.btn-custom{
		background:#333 !important;
		border:none;
		border-radius:0 !important;
		color:#fff;
		font-weight:bold;
		text-transform:uppercase;
		font-weight:bold;
		letter-spacing:2px;
		padding:5px 20px 5px 20px;
	}
	
	input.btn-custom:hover{
		border:none;
		background:#eee !important;
	}
	
	.fullwidth{
		width:100%;
	}
	
	.btn-line, a.btn-line{
	border:solid 1px #222;
	color:#fff;
	font-family:"Roboto Condensed";
	font-size:13px;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	padding:3px;
	padding-left:30px;
	padding-right:30px;
	text-transform:uppercase;
	display:inline-block;
	text-align:center;
	letter-spacing:2px;
	text-decoration:none;
	
	}	
	

	.btn-line, a.btn-line{
	border:solid 1px rgba(255,255,255,.2) !important;
	color:#fff;
	}
	
	.de_light .btn-line, .de_light a.btn-line{
	border:solid 1px rgba(1,1,1,.2) !important;
	color:#333;
	}
	
	.text-light .btn-line, .text-light  a.btn-line{
	border:solid 1px rgba(255,255,255,.2) !important;
	color:#fff;
	}
	

	.btn-line:hover, a.btn-line:hover{
	background:#fff;
	color:#111 !important;
	border-color:#fff;
	}
	
	.btn-line:after,  a.btn-line:after{
	color:#fff;
	}
	
	.btn-line:hover:after, a.btn-line:hover:after, a.btn-line.hover:after{
	color:#fff;
	}
	
	.btn-line:hover:after, a.btn-line:hover:after, a.btn-line.hover:after{
	color:#111 !important;
	}
	
	a.btn-text{
	text-decoration:none;
	display:inline-block;
	color:#111 !important;
	font-weight:600;
	padding:0;
	}
	
	a.btn-text:after{
	font-family:FontAwesome;
	content: "\f054";
	padding-left:10px;
	}
	
	a.btn-text{
	color:#fff !important;
	}
	
	a.btn-big{
	font-size:14px;
	color:#eceff3;
	letter-spacing:1px;
	line-height:normal;
	font-weight:bold;
	text-transform:uppercase;
	border:solid 1px #fff;
	padding:10px 30px 10px 30px;
	}
	/*
	a.btn-big:after{
	font-family:FontAwesome;
	content: "\f054";
	margin-left:20px;
	}
	*/
	
	
	
	.btn-line, a.btn-line{
	color:#eceff3;
	}
	
	.btn-line:after, a.btn-line:after{
	font-family:FontAwesome;
	content: "\f054";
	margin-left:10px;
	}
	
	a.btn-line-black, .de_light a.btn-line-black{
	border:solid 1px #111;
	color:#111;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	font-weight:normal;
	}
	
	a.btn-line-black:hover{
	background:#111;
	color:#fff;
	}
	
	.de_light a.btn-line-black:hover{
	background:#111;
	color:#fff;
	}
	
	.btn-line, a.btn-line{
	color:#eceff3;
	}
	
	.btn-line:after, a.btn-line:after{
	font-family:FontAwesome;
	content: "\f054";
	margin-left:10px;
	}
	
	a.btn-line-white, .de_light a.btn-line-white{
	border:solid 1px rgba(255,255,255,.5);
	color:#fff;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	}
	
	a.btn-line-white:hover{
	background:#fff;
	color:#333;
	}
	
	.btn-fullwidth{
	width:100%;
	}
	
	a.btn-slider{
	display:inline-block;
	font-size:13px;
	font-weight:bold;
	color:#fff;
	letter-spacing:3px;
	line-height:normal;
	text-decoration:none;
	text-transform:uppercase;
	padding:8px 20px 8px 20px;
	font-family:"Open Sans";
	}
	a.btn-slider:hover{
	color:#222;
	background:#fff;
	}
	a.btn-slider:hover:after{
	color:#222 ;
	}
	
	a.btn-slider.btn-border{
	display:inline-block;
	font-size:13px;
	font-weight:bold;
	color:#fff;
	letter-spacing:3px;
	line-height:normal;
	text-decoration:none;
	text-transform:uppercase;
	border:solid 2px #fff;
	padding:10px 30px 10px 30px;
	font-family:"Open Sans";
	}
	a.btn-slider.btn-border:hover{
	color:#222;
	background:#fff;
	border-color:#000;
	border:solid 2px #fff;
	}
	a.btn-slider.btn-border:hover:after{
	color:#222 ;
	}
	
	.play-button{
	border-radius:60px;
	-moz-border-radius:60px;
	-webkit-border-radius:60px;
	color:#fff;
	text-decoration:none !important;
	border:solid 5px rgba(255,255,255,.3);
	display:inline-block;
	text-align:center;
	width:80px;
	height:80px;
	padding-top:22px;
	padding-left:5px;
	}
	
	.play-button:before{
	font-family:"FontAwesome";
	font-size:20px;
	content:"\f04b";
	position:relative;
	color:#fff;
	}
	
	.play-button:hover{
		border:solid 5px rgba(255,255,255,1);
	}
	
	/* columns */
	/* ------------------------------ */

	
	/* counter */
	/* ------------------------------ */
	.de_count{
	text-align:center;
	padding:30px 0 30px 0;
	background:none;
	}
	.de_count h3{
	font-family:"Roboto Condensed", Arial, Helvetica, sans-serif;
	font-size:48px;
	font-weight:600;
	}
	.de_count span{
	text-transform:uppercase;
	}
	.de_count i{
		display:block;
		font-size:60px;
		margin:0 auto;
		margin-bottom:20px;
		width:100%;
		font-weight:lighter !important;
	}
		
	/* divider */
	/* ------------------------------ */
	.spacer-single{
	width:100%;
	height:30px;
	display:block;
	clear:both;
	}
	
	.spacer-double{
	width:100%;
	height:60px;
	display:block;
	clear:both;
	}
	
	.spacer-half{
	width:100%;
	height:15px;
	display:block;
	clear:both;
	}
	
	hr {
	display: block;
	clear: both;
	border-top: solid 1px #ddd;
	margin: 40px 0 40px 0;
	}


	
	/* dropcap */
	/* ------------------------------ */
	.dropcap {
	display: inline-block;
	font-size: 48px;
	float: left;
	margin: 10px 15px 15px 0;
	color:#eceff3;
	padding: 20px 10px 20px 10px;
	}
	
	/* form */
	
	.deform-1 input[type=text],
	.deform-1 input[type=select],
	.deform-1 textarea,
	.deform-1 select{
		background:none !important;
	}
	
	.deform-1 select{
		height:42px;
		padding:10px;
		border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;
	}
	
	.deform-1 #select-services{
		height:165px;
		padding:10px;
		border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;
	}
	
	.deform-1 #select-services option{
		border-bottom:solid 1px #eee;
		padding:5px;
		padding-left:20px;
	}
	
	.deform-1 #select-services option.title{
		color:#222;
		font-weight:bold;
		padding-left:5px;
	}
	
	.selector-img input{
		display:none;
	}
	
	.selector-img input + img{
		opacity:.7;
	}
	
	.selector-img input:hover + img{
		opacity:1;
	}
	
	.selector-img input:checked + img{
		opacity:1;
		border:solid 3px #de3370;
	}
	
	
	/* heading */
	/* ------------------------------ */

	h1, h2, h3, h4, h5, h6 {
	color: #555;
	font-family: 'Open Sans',Arial, Helvetica, sans-serif;
	font-weight:400;
	}
	
	h1 {
	font-size:30px;
	margin:0;
	text-align:center;
	}
	
	h1 .small-border{
		margin-top:30px;
	}
	
	h2 {
	font-weight:500;
	}
	h2 .small-border{
	margin-left:0;
	margin-bottom:15px;
	width:40px;
	}
	h2{
	}
	h3 {
	margin-top: 0;
	font-size:16px;
	font-weight:bold;
	}
	footer h3 {
	letter-spacing:0px;
	text-transform:none;
	}
	h1.slogan_big {
	font-weight: 300;
	font-size: 64px;
	line-height: 64px;
	letter-spacing: -2px;
	padding: 0;
	margin: 0px 0 30px 0;
	}
	h1.title{
	font-size:64px;
	letter-spacing:10px;
	}
	h1.title strong{
	text-transform:none;
	letter-spacing:0;
	font-weight:normal;
	}
	h2.subtitle{
	margin-top:0;
	}
	h3.title {
	border-bottom: solid 1px #ddd;
	margin-bottom: 20px;
	}
	h4.title {
	border-bottom: solid 1px #ddd;
	padding-bottom: 10px;
	margin-bottom: 20px;
	}
	h5 {
	font-weight: bold;
	}
	h1,
	h2,
	h3,
	h4,
	h5{
	color:#eceff3;
	}
	
	h1.big-font,.type-wrap.big-font{
	font-family:"Open Sans";
	font-size:60px;
	font-weight:200;
	text-transform:uppercase;
	letter-spacing:10px;
	color:#fff !important;
	margin:0;
	line-height:60px;
	}
	
	span.teaser{
	font-family:"Georgia";
	font-style:italic;
	font-size:18px;
	}
	
	.text-light{
	color:#ddd;
	}
	
	
	.text-light h1, .text-light h2, .text-light h3, .text-light h4{
	color:#fff !important;
	}
	
	.de_light h1,.de_light h2,.de_light h3,.de_light h4,.de_light h5,.de_light h6{
	color:#333;
	}
	
	/* feature box style 1 */
	.feature-box i {
	border:solid 1px;
	}
	
	.feature-box-small-icon {
	margin-bottom: 30px;
	}
	
	.feature-box-small-icon.center{
	text-align:center;
	}
	
	.feature-box-small-icon .inner:hover > i {
	color:#fff;
	}
	
	.feature-box-small-icon .text {
	padding-left: 70px;
	}
	
	.feature-box-small-icon.center .text{
	padding-left:0;
	display:block;
	}
	
	.feature-box-small-icon i {
	text-shadow:none;
	color: #333;
	font-size: 32px;
	width: 68px;
	height: 68px;
	text-align: center;
	position: absolute;
	border-radius:60px;
	}
	
	.feature-box-small-icon i.hover {
	color:#333 !important;
	}
	
	.feature-box-small-icon i.hover {
	color:#fff !important;
	}
	
	.feature-box-small-icon .border{
	height:2px;
	width:30px;
	background:#ccc;
	display:block;
	margin-top:20px;
	margin-left:85px;
	}
	
	
	.feature-box-small-icon .btn{
	margin-top:10px;
	}
	
	.feature-box-small-icon.center i{
	position:inherit;
	float:none;
	display:inline-block;
	margin-bottom:20px;
	border:none;
	font-size:60px;
	background:none;
	padding:0px;
	}
	
	.feature-box-small-icon.center .fs1{
	position:inherit;
	float:none;
	display:inline-block;
	margin-bottom:20px;
	border:none;
	font-size:60px;
	background:none;
	padding:0px;
	}
	

	.feature-box-small-icon i{
	background-color: #333333;
	}
	
	.feature-box-small-icon h3 {
	line-height: normal;
	margin-bottom: 5px;
	}
	
	.feature-box-small-icon.no-bg h2 {
	padding-top:12px;
	}
	
	.feature-box-small-icon.no-bg .inner, .feature-box-small-icon.no-bg .inner:hover{
	padding:0;
	background:none;
	}
	
	.f-hover{
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
	 outline: none;
	}
	
	/* feature-box style 2 */
	.feature-box i {
	border:solid 1px;
	}
	
	.feature-box-small-icon-2 {
	margin-bottom: 30px;
	}
	
	.feature-box-small-icon-2 .text {
	padding-left: 48px;
	}
	
	.feature-box-small-icon-2 i {
	text-shadow:none;
	color:#eceff3;
	font-size: 24px;
	text-align: center;
	position: absolute;
	}
	
	.feature-box-small-icon-2 i{
	background-color: #333333;
	}
	
	.feature-box-small-icon-2 h3 {
	line-height: normal;
	margin-bottom: 5px;
	}
	
	.feature-box-small-icon-2.no-bg h2 {
	padding-top:12px;
	}
	
	.feature-box-small-icon-2.no-bg .inner, .feature-box-small-icon-2.no-bg .inner:hover{
	padding:0;
	background:none;
	}
	
	
	/* feature-box image style 3 */
	.feature-box i {
	border:solid 1px;
	}
	.feature-box-image-2 {
	margin-bottom: 30px;
	}
	.feature-box-image-2 .text {
	padding-left: 100px;
	}
	.feature-box-image-2 img {
	position: absolute;
	}
	.feature-box-image-2 i{
	background-color: #333333;
	}
	.feature-box-image-2 h3 {
	line-height: normal;
	margin-bottom: 5px;
	}
	.feature-box-image-2.no-bg h2 {
	padding-top:12px;
	}
	.feature-box-image-2.no-bg{
	}
	.feature-box-image-2.no-bg .inner, .feature-box-image-2.no-bg .inner:hover{
	padding:0;
	background:none;
	}
	
	/* with image */
	.feature-box-image img{
	width:100%;
	margin-bottom:10px;
	height:auto;
	}
	.feature-box-image h3 {
	line-height: normal;
	margin-bottom: 5px;
	font-size:20px;
	font-weight:bold;
	}
	
	/* feature-box image style 4 */
	.feature-box-big-icon{
	text-align:center;
	}
	.feature-box-big-icon .text{
	}
	.feature-box-big-icon i {
	float:none;
	display:inline-block;
	text-shadow:none;
	color:#eceff3;
	font-size: 40px;
	padding: 40px;
	width: 120x;
	height: 120x;
	text-align: center;
	border:none;
	border-radius:10px;
	-moz-border-radius:10px;
	-web-kit-border-radius:10px;
	background:#333;
	margin-bottom:40px;
	
	cursor:default;
	
	
	}
	.feature-box-big-icon i:after {
	content: "";
	position:absolute;
	margin:75px 0 0 -40px;
	border-width: 20px 20px 0 20px; /*size of the triangle*/
	border-style: solid;
	}
	
	.feature-box-big-icon:hover i,
	.feature-box-big-icon:hover i:after{
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	 -webkit-transition:.5s;
	 transition:.5s;
	}
	.feature-box-big-icon:hover i{
	background:#333;
	}
	.feature-box-big-icon:hover i:after{
	border-color:#333 transparent;
	}
	
	.info-box i{
	font-size:48px;
	position:absolute;
	}

	.info-box .info-box_text{
	padding-left:60px;
	}

	.info-box .info-box_title{
	font-weight:700;
	text-transform:uppercase;
	line-height:16px;
	color:#fff;
	margin-top:8px;
	}
	
	.box-fx .inner{
	position:relative;
 	overflow:hidden;
	border-bottom:solid 2px;
	}
	
	.box-fx .inner{
	border-bottom:solid 2px;
	}
	
	.box-fx .front{
	padding:60px 0 60px 0;
	}
	
	.box-fx .front span{
	font-size:14px;
	}
	
	.box-fx .info{
	position:absolute;
	padding:60px 30px 60px 30px;
	background:#fff;
	color:#fff;
	}
	
	.box-fx i{
	font-size:72px !important;
	margin-bottom:20px;
	}
	
	.box-fx .btn-line, .box-fx .btn-line a.btn-line{
	border:solid 1px rgba(255,255,255,0.5);
	color:#fff !important;
	}
	
	.box-fx .btn-line:hover, .box-fx a.btn-line:hover{
	background:#fff;
	color:#111 !important;
	border-color:#fff;
	}
	
	.box-fx .btn-line:after, .box-fx a.btn-line:after{
	color:#fff !important;
	}
	
	.box-fx .btn-line:hover:after, .box-fx a.btn-line:hover:after, .box-fx a.btn-line.hover:after{
	color:#111 !important;
	}
	
	.box-fx .bg-icon{
		left:50%;
		bottom:50px;
		color:#f5f5f5 !important;
		position:absolute !important;
		font-size:190px !important;
		z-index:-1;
	}
	
	.box-icon-simple.right{
	margin-right:70px;
	text-align:right;	
	}
	
	.box-icon-simple.right i{
	font-size:42px;
	right:0;
	position:absolute;
	}
	
	.box-icon-simple.left{
	margin-left:70px;
	}
	
	.box-icon-simple.left i{
	font-size:42px;
	left:0;
	position:absolute;
	}
	
	.box-icon .text{
	margin-left:80px;
	}
	
	.box-icon i{
	display:block;
	color:#222;
	width:50px;
	height:50px;
	text-align:center;
	padding:15px;
	border-radius:60px;
	position:absolute;
	font-size:22px;
	color:#fff;
	}
	
	.box-number .number{
	display:block;
	font-size:48px;
	color:#222;
	width:80px;
	height:80px;
	text-align:center;
	padding:25px;
	border-radius:60px;
	position:absolute;
	}
	
	.box-number .text{
	margin-left:100px;
	}
	
	.box-number.square .number{
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	color:#fff;
	border:solid 3px;
	}
	
	.box-border{
	border:solid 1px rgba(255,255,255,.1);
	padding:20px;
	margin-top:20px;
	}
	
	.box-border .list-border-bottom li:last-child {
	border-bottom:none;
	margin-bottom:0;
	}
	
	.de_light .box-border{
	border:solid 2px #eee;
	}
	
	.box-border.double{
	border:solid 3px rgba(255,255,255,.1);
	}
	/* list */
	.ul-style-2{
	padding:0;
	list-style:none;
	}
	
	.ul-style-2 li{
	margin:5px 0 5px 0;
	}
	
	.ul-style-2 li:before{
	font-family:"FontAwesome";
	content:"\f00c";
	margin-right:15px;
	}
	
	.list-border-bottom li{
	border-bottom:solid 1px rgba(255,255,255,.1);
	padding-bottom:10px;
	margin-bottom:10px;
	}
	
	/* pagination */
	/* ======================================== */
	
	.pagination li a:hover{
	color:#fff;
	background:none;	
	}
	
	.de_light .pagination li a:hover{
	color:#111;
	background:none;	
	}
	
	.pagination li a{
	color:#888;
	border:solid 1px #404040;
	background:none;
	margin:3px;
	padding:15px 20px 15px 20px;	
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	}
	
	.de_light .pagination li a{
	border-color:#ccc;
	}
	
	/* pricing table */
	/* ================================================== */
	.pricing-box{color:#888;}
	
	.pricing-2-col {
	border-right: solid 1px #eee;
	}
	
	.pricing-2-col .pricing-box {
	width: 49%;
	}
	
	.pricing-3-col {
	}
	
	.pricing-3-col .pricing-box {
	width: 32.33%;
	}
	
	.pricing-4-col {
	}
	
	.pricing-4-col .pricing-box {
	width: 24%;
	}
	
	.pricing-5-col {
	}
	
	.pricing-5-col .pricing-box {
	width: 19%;
	}
	
	.pricing-2-col,
	.pricing-3-col,
	.pricing-4-col,
	.pricing-5-col{
	}
	
	
	.pricing-box {
	float: left;
	text-align: center;
	margin:5px;
	padding: 0;
	opacity:.8;
	}
	
	.pricing-box ul {
	margin: 0;
	padding: 0;
	}
	
	.pricing-box li {
	list-style: none;
	margin: 0;
	padding: 15px 0 15px 0;
	background:#eee;
	}
	
	.pricing-box li h4 {
	font-size: 22px;
	margin: 0;
	padding: 0;
	font-weight: 400;
	color:#888;
	}
	
	.pricing-box li h1 {
	font-size: 48px;
	margin: 0;
	margin-bottom: 5px;
	color: #1a8b49;
	letter-spacing:0px;
	}
	
	.pricing-box li.title-row {
	padding: 15px 0 15px 0;
	}
	
	.pricing-box li.title-row h4{
	}
	
	.pricing-box li.price-row {
	padding: 15px 0 15px 0;
	background:#F8F8F8;
	
	}
	.pricing-box li.deco{
	background:#f5f5f5;
	}
	
	.pricing-box a.btn{
	color:#eceff3;
	}
	
	.pricing-box li.price-row span {
	display: block;
	font-weight: 600;
	}
	
	.pricing-box li.btn-row {
	background: #ddd;
	}
	.pricing.pricing-box{
	}
	.pricing.pricing-box ul {
	margin: 0;
	padding: 0;
	}
	
	.pricing.pricing-box li {
	background: #3b3b3b;
	color: #bbb;
	list-style: none;
	margin: 0;
	padding: 15px 0 15px 0;
	}
	
	.pricing.pricing-box li.deco{
	background:#333;
	}
	
	
	
	.pricing.pricing-box li h4 {
	font-size: 22px;
	margin: 0;
	padding: 0;
	font-weight: 400;
	color:#eceff3;
	}
	
	.pricing.pricing-box li h1 {
	font-size: 48px;
	margin: 0;
	margin-bottom: 5px;
	font-weight: 600;
	color:#eceff3;
	}
	
	.pricing.pricing-box li.title-row {
	background:#323232;
	padding: 15px 0 15px 0;
	}
	
	.pricing.pricing-box li.price-row {
	background: #2b2b2b;
	padding: 15px 0 15px 0;
	}
	
	.pricing.pricing-box li.price-row h1{
	font-weight: 300;
	}
	
	.pricing.pricing-box li.price-row h1 span {
	display:inline-block;
	font-weight: 600;
	}
	
	.pricing.pricing-box li.price-row span {
	display: block;
	font-weight: 600;
	}
	
	.pricing.pricing-box li.btn-row {
	background: #404040;
	}
	
	
	.pricing-featured {
	position: relative;
	}
	
	.pricing-featured li{
	padding-top:17px;
	padding-bottom:17px;
	}
	
	
	/* progress bar */
	/* ================================================== */
	
	.de-progress{
	width:100%;
	height:5px;
	background:#ddd;
	margin-top:20px;
	margin-bottom:20px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	
	}
	
	.de-progress .progress-bar{
	height:5px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	}
	
	
	/* social-icons */
	/* ================================================== */
	.social-icons{
	display:inline-block;
	}
	.social-icons i{
	text-shadow:none;
	color: #fff;
	padding: 8px;
	width: 28px;
	height: 28px;
	text-align: center;
	font-size:16px;
	border-radius:1px;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	}
	.social-icons i:hover{
	background:#fff;
	border-color:#eceff3;
	color:#333;
	}
	
	/*
	.social-icons .fa-facebook{	background:#305fb3;	}
	.social-icons .fa-twitter{	background:#00d7d5;	}
	.social-icons .fa-rss{ background:#fca600;	}
	.social-icons .fa-google-plus{ background:#d7482a;	}
	.social-icons .fa-skype{ background:#12c7ef;	}
	.social-icons .fa-dribbble{ background:#f06eaa;	}
	*/
	
	/* table */
	/* ================================================== */
	
	.table.package{
		background:#f8f8f8;
	}
	
	.table.package .c1{
		padding:30px;
	}
	
	.table.package h2{
		margin-bottom:30px;
		font-weight:bold;
		font-size:22px;
	}
	
	.table.package .list,
	.table.package .list li{
		list-style:none;
		margin:0;
		padding:0;
	}
	.table.package .list li{
		border-bottom:solid 1px #ccc;
		padding-bottom:10px;
		margin-bottom:10px;
	}
	
	.table.package .c2{
		color:#fff;
		width:100%;
		display:block;
		padding:30px 0 30px 0;
	}
	
	.table.package h3{
		font-size:48px;
		color:#fff;
		margin:0;
		letter-spacing:0;
	}
	
	.table.package h3 span{
		font-size:30px;
	}
	
	.table.package .c3{
		padding:30px 0 30px 0;
		background:#222;
	}
	
	.table.package .c3 a.btn-line{
		border:solid 1px rgba(255,255,255,.5) !important;
		color:#fff;
	}
	
	
	/* tabs */
	/* ================================================== */
	.de_tab {
	
	}
	
	.de_tab .de_nav {
	overflow: hidden;
	padding-left: 0;
	margin: 0;
	padding: 0;
	font-weight:bold;
	}
	
	.accordion-inner img.full-size{
	margin-top:5px;
	margin-bottom:10px;
	}
	
	a.accordion-toggle,a:visited.accordion-toggle{
	font-weight:bold;
	color:#222;
	}
	
	.de_tab .de_nav li {
	float: left;
	list-style: none;
	background: #EEE;
	margin-right: 5px;
	}
	
	
	.de_tab .de_nav li span {
	padding: 8px 16px 8px 16px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	display: block;
	background: #f5f5f5;
	text-decoration: none;
	color: #646464;
	font-size: 13px;
	cursor: pointer;
	}
	
	.de_tab.tab_steps .de_nav{
	text-align:center;	
	}
	.de_tab.tab_steps .de_nav li{
	background:none;
	display:inline-block;
	float:none;
	margin:0 30px 0px 30px;
	}
	
	.de_tab.tab_steps .de_nav li span {
	padding:30px 0 30px 0;
	border-radius:120px;
	color:#222;
	font-family:"Roboto Condensed";
	font-size:16px;
	-moz-border-radius:120px;
	-webkit-border-radius:120px;
	line-height:120px;
	width:180px;
	height:180px;
	text-align:center;
	text-transform:uppercase;
	}
	
	.de_tab.tab_steps .de_nav li span:hover{
	background:#000;
	border:none;
	color:#fff;
	}
	
	.de_tab.tab_steps .de_nav li .v-border{
	height:60px;
	border-left:solid 1px rgba(255,255,255,.3);
	display:inline-block;
	margin-bottom:-5px;	
	}
	
	.de_tab .de_nav li span {
	border:none;
	background:#222;
	}
	
	.de_tab .de_nav li:first-child span {
	border-left: 1px solid #ddd;
	}
	
	.de_tab .de_nav li:first-child span {
	border-left: 1px solid #404040;
	}
	
	
	.de_tab .de_tab_content {
	border: 1px solid #ddd;
	padding: 15px 20px 20px 20px;
	margin-top: -1px;
	background: #fff;
	}
	
	.de_tab .de_tab_content {
	border: 1px solid #404040;
	background: #27282b;
	}
	
	.de_tab.tab_steps .de_tab_content {
	background:0;
	padding:0;
	border:none;
	padding-top:30px;
	border-top:solid 1px rgba(255,255,255,.4);
	}
	
	.de_tab .de_nav li.active span {
	background: #FFF;
	border-bottom: 1px solid #fff;
	color: #222;
	margin-bottom: -3px;
	}
	
	.de_tab .de_nav li.active span .v-border{
	display:none !important;
	}
	
	.de_tab .de_nav li.active span {
	background: #27282b;
	border-bottom: 1px solid #27282b;
	color: #ccc;
	}
	
	.de_tab.tab_steps .de_nav li.active span {
	background:none;
	color: #ffffff;
	border:solid 2px rgba(255,255,255,.8);
	}
	
	/* new added */
	.de_tab.tab_steps.tab_6 .de_nav li span{
	padding:20px 0 20px 0;
	font-size:14px;
	line-height:70px;
	width:120px;
	height:120px;
	}
	
	/* tab de_light */
	.de_light  .de_tab.tab_style_1 .de_tab_content {
	border: none;
	background:none;
	padding:40px;
	border-top:solid 1px #bbb;
	}
	
	.de_light  .de_tab.tab_style_1 .de_nav{
	margin:0 auto;
	text-align:center;	
	}
	
	.de_light  .de_tab.tab_style_1 .de_nav li {
	float: none;
	list-style: none;
	background: #EEE;
	margin-right: 5px;
	text-align:center;
	display:inline-block;
	}
	
	
	.de_light  .de_tab.tab_style_1 .de_nav li span {
	padding: 10px 30px 10px 30px;
	background:#eee;
	border: 1px solid #ddd;
	border-bottom-color: #bbb;
	display: block;
	background: #fff;
	text-decoration: none;
	color: #646464;
	font-size: 14px;
	cursor: pointer;
	color:#bbb;
	text-transform:uppercase;
	letter-spacing:2px;
	}
	
	.de_light  .de_tab.tab_style_1 .de_nav li.active span {
	border: 1px solid #bbb;
	border-bottom-color: #fff;
	color:#333;
	background:none;
	}
	
	
	/* tab de_light */
	.de_light  .de_tab.tab_style_2 .de_tab_content {
	border: none;
	background:none;
	padding:40px;
	border-top:solid 1px #ddd;
	}
	
	.de_light  .de_tab.tab_style_2 .de_nav{
	margin:0 auto;
	text-align:center;	
	}
	
	.de_light  .de_tab.tab_style_2 .de_nav li {
	float: none;
	list-style: none;
	background: none;
	margin:0 5px 0 5px;
	text-align:center;
	display:inline-block;
	}
	
	.de_light  .de_tab.tab_style_2 .de_nav li img{
	width:auto;
	-webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%);
	opacity:.7;
	}
	
	.de_light  .de_tab.tab_style_2 .de_nav li.active img{
	width:auto;
	-webkit-filter: grayscale(0%);
       -moz-filter: grayscale(0%);
         -o-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
            filter: grayscale(0%);
	opacity:1;
	}
	
	.de_light  .de_tab.tab_style_2 .de_nav li span {
	background:none;
	display: block;
	text-decoration: none;
	font-size: 14px;
	cursor: pointer;
	border:none;
	}
	
	.de_light  .de_tab.tab_style_2 .de_nav li.active span {
	border-bottom: solid 6px #bbb;
	color:#333;
	background:none;
	}
	
	.de_tab .de_nav li img{
	cursor:pointer;
	}
	

	.tab-small-post ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
	.tab-small-post ul li {
	min-height: 60px;
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: solid 1px #eeeeee;
	}
	
	.tab-small-post ul li{
	border-bottom: solid 1px #404040;
	}
	
	.tab-small-post ul li:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
	}
	
	.tab-small-post ul li img {
	position: absolute;
	}
	
	.tab-small-post ul li span {
	display: block;
	padding-left: 64px;
	}
	
	.tab-small-post ul li span.post-date {
	font-size: 11px;
	}
	
	/* team
	/* ================================================== */
	.team {
	margin-bottom: 30px;
	text-align:center;
	}
	
	.team h5 {
	margin-bottom: 0;
	}
	
	.team_photo {
	margin-bottom: 10px;
	}
	
	.team img.team-pic {
	width: 100%;
	height: auto;
	}
	
	.pic-team img{
	width: 100%;
	height: auto;
	width:150px;
	height:150px;
	position:absolute;
	}
	
	.pic-team img.pic-hover{
	z-index:100;
	display:none;
	}
	
	.team .team_desc {
	font-style: italic;
	margin-bottom: 10px;
	}
	
	.team .sb-icons {
	padding: 10px 0 0 0;
	}
	
	.team .sb-icons img {
	margin-right: 5px;
	}
	
	.team .columns {
	margin-bottom: 30px;
	}
	
	.team-list{
	min-height:180px;
	margin-bottom:40px;
	}
	
	.team-list .team-pic{
	width:150px;
	height:150px;
	position:absolute;
	}
	
	.team-list h5{
	margin-top:0;
	margin-bottom:10px;
	font-size:14px;
	}
	
	.team-list.team_desc{
	font-style:italic;
	margin-bottom:10px;
	}
	
	.team-list .small-border{
	float:none;
	margin:15px 0 15px 0;
	background:#ddd;
	width:50px;
	}
	
	.team-list .social{
	width:150px;
	margin-top:170px;
	text-align:center;
	position:absolute;
	}
	
	.team-list .social a{
	display:inline-block;
	}
	
	.team-list .info{
	padding-left:170px;
	}
	
	.de-team-list{
		overflow:hidden;
	}
	
	.de-team-list .team-desc{
		padding:20px;
		padding-bottom:0;
		position:absolute;
		z-index:100;
		top:0;
		background:#111;
		color:#ccc;
	}
	
	.de-team-list .team-desc h3{
		color:#fff;
	}
	
	.de-team-list .social{
	}
	
	.de-team-list .social a{
	display:inline-block;
	}
	
	.de-team-list p.lead{
		font-size:14px;
	}
	
	.de-team-list .small-border{
	float:none;
	margin:15px 0 15px 0;
	background:#ddd;
	width:50px;
	}
	
	.de-team-list .social a:hover{
	color:#fff;
	}
	
	.team-member{
	text-align:center;
	}
	.team-member h3{
	margin-top:30px;
	}
	
	.team-member .picframe, .team-member img{
	width:90%;
	}
	
	.de_light .team-member .social i{
	color:#ccc;
	margin:0 5px 0 5px;
	}

	/* testimonial
	/* ================================================== */
	.de_testi {
	display: block;
	margin-bottom: 10px;
	}
	
	.de_testi blockquote {
	margin: 0;
	border: none;
	padding: 20px 30px 30px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size:16px;
	background:#eee;
	font-style:normal;
	line-height:1.6em;
	font-weight:400;
	}
	
	.de_testi blockquote:before{
	font-family:FontAwesome;
	content: "\f10d";
	padding-bottom:10px;
	font-size:20px;
	display:block;
	}
	
	.dark .de_testi blockquote {
	color:#eceff3;
	}
	
	.de_testi blockquote, .de_testi blockquote p {
	font-size: 16px;
	line-height: 1.6em;
	font-weight: 400;
	}
	
	.de_testi_by {
	margin-left: 20px;
	margin-top: -10px;
	}
	
	.de_testi_pic {
	float: left;
	padding-right: 15px;
	}
	
	.de_testi_pic img {
	width: 50px;
	height: 50px;
	}
	
	.de_testi_company {
	padding-top: 20px;
	}
	
	#testimonial-masonry .item{
	margin-bottom:30px;
	}
	
	.testimonial-list, .testimonial-list li{
	font-weight:200;
	list-style:none;
	padding:0px;
	font-size:20px;
	line-height:1.5em;
	}
	
	.testimonial-list span{
	font-family:"Open Sans";
	font-style:normal;
	font-weight:bold;
	display:block;
	margin-top:20px;
	font-size:14px;
	}
	
	.testimonial-list.big-font li{
	font-size:28px;
	}
	
	.testimonial-list:before{
	font-family:FontAwesome;
	content: "\f10d";
	font-size:60px;
	color:rgba(0,0,0,.1);
	position:absolute;
	margin-left:-30px;
	}


/* css attributes */

/* margin top */
.mt0{margin-top:0;}.mt10{margin-top:10px;}.mt20{margin-top:20px;}.mt30{margin-top:30px;}.mt40{margin-top:40px;}.mt50{margin-top:50px;}.mt60{margin-top:60px;}.mt70{margin-top:70px;}.mt80{margin-top:80px;}.mt90{margin-top:90px;}.mt100{margin-top:100px;}
/* margin bottom */
.mb0{margin-bottom:0;}.mb10{margin-bottom:10px;}.mb20{margin-bottom:20px;}.mb30{margin-bottom:30px;}.mb40{margin-bottom:40px;}.mb50{margin-bottom:50px;}.mb60{margin-bottom:60px;}.mb70{margin-bottom:70px;}.mb80{margin-bottom:80px;}.mb90{margin-bottom:90px;}.mb100{margin-bottom:100px;}

/* margin top */
.mt-10{margin-top:-10px;}.mt-20{margin-top:-20px;}.mt-30{margin-top:-30px;}.mt-40{margin-top:-40px;}.mt-50{margin-top:-50px;}.mt-60{margin-top:-60px;}.mt-70{margin-top:-70px;}.mt-80{margin-top:-80px;}.mt-90{margin-top:-90px;}.mt-100{margin-top:-100px;}.mt-110{margin-top:-110px;}.mt-120{margin-top:-120px;}.mt-120{margin-top:-120px;}.mt-130{margin-top:-130px;}
/* margin bottom */
.mb-10{margin-bottom:-10px;}.mb-20{margin-bottom:-20px;}.mb-30{margin-bottom:-30px;}.mb-40{margin-bottom:-40px;}.mb-50{margin-bottom:-50px;}.mb-60{margin-bottom:-60px;}.mb-70{margin-bottom:-70px;}.mb-80{margin-bottom:-80px;}.mb-90{margin-bottom:-90px;}.mb-100{margin-bottom:-100px;}.mb-110{margin-bottom:-110px;}.mb-120{margin-bottom:-120px;}.mb-120{margin-bottom:-120px;}.mb-130{margin-bottom:-130px;}

.mr10{margin-right:10px;} .mr20{margin-right:20px;}


.padding10{padding:10px;} .padding20{padding:20px;} .padding30{padding:30px;} .padding40{padding:40px;}

.display-table{
display:table;
}

.display-table [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
	margin:0;
	padding:0;

}



.text-middle, .display-table [class*="col-"].text-middle {vertical-align:middle;}
	
.absolute{position:absolute; }
.overflow-hidden{overflow:hidden;}
.width100{width:100%;}
.z-index500{z-index:500;}
.height90px{height:90px;}

.hoverdark10:hover{background:rgba(0,0,0,.1);}
.hoverdark20:hover{background:rgba(0,0,0,.2);}
.hoverdark30:hover{background:rgba(0,0,0,.3);}

.no-bg{background:none !important;}

.overlay10{background:rgba(255,255,255,.1)}.overlay20{background:rgba(255,255,255,.2)}
.overlay30{background:rgba(255,255,255,.3);}.overlay40{background:rgba(255,255,255,.4);}.overlay50{background:rgba(255,255,255,.5);}
.overlay60{background:rgba(255,255,255,.6);}.overlay70{background:rgba(255,255,255,.7);}.overlay80{background:rgba(255,255,255,.8);}

.overlaydark30{background:rgba(0,0,0,.3);}.overlaydark40{background:rgba(0,0,0,.4);}.overlaydark50{background:rgba(0,0,0,.5);}
.overlaydark60{background:rgba(0,0,0,.6);}.overlaydark70{background:rgba(0,0,0,.7);}.overlaydark80{background:rgba(0,0,0,.8);}.overlaydark90{background:rgba(0,0,0,.9);}

.font30{font-size:30px;}
.font40{font-size:30px;}
.font48{font-size:48px;}
.font60{font-size:60px;}

.overflow-hidden{overflow:hidden;}

/* ================================================== */
/* anim */
/* ================================================== */
de_tab .de_nav li span,
.feature-box-small-icon i, a.btn-line:after, .de_count, .social-icons a i,
.de_tab.tab_steps .de_nav li span, .de_tab.tab_steps .de_nav li span:hover,
.overlay .icon i,
.overlay .icon i:hover,
#contact_form input[type=submit],
#contact_form input[type=submit]:hover,
.product img,
.product img:hover,
.logo_center img,
.pic-grey,
.pic-grey:hover,
#menu-btn,
input.btn-custom,
input.btn-custom:hover,
.hoverdark30,.hoverdark30:hover,
.de_light  .de_tab.tab_style_2 .de_nav li img,
.de_light  .de_tab.tab_style_2 .de_nav li.active img
{
-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;
 outline: none;
}


/* ================================================== */
/* video */
/* ================================================== */
video, object {
display:inline-block;
vertical-align:baseline;
min-width:100%;
width: 100%;
height: auto;
min-height:100%;
}

.de-video-container{
top:0%;
left:0%;
height:500px;
width:100%;
overflow: hidden;
}

.de-video-content{
width:100%;
position:absolute;
z-index:10;
}


.de-video-overlay{
position:absolute;
width:100%;
min-height:100%;
background:rgba(0,0,0,.5);
}

.de-video-overlay.dotted{
background:url(../images/ui/dotted.png);
}

.video-fixed{
width:100%;
position:fixed;
top:0;
}

/* youtube, vimeo */

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}







.de-video-container .btn-line:hover:after, .de-video-container a.btn-line:hover:after, .de-video-container a.btn-line.hover:after{
color:#eceff3;
}






/* ================================================== */
/* map */
/* ================================================== */
/* --------------- map --------------- */
#map {
width: 100%;
height: 500px;
}

.map iframe {
width: 100%;
height: 320px;
border: solid 1px #ccc;
padding: 2px;
background: #fff;
}

.map-container{
height: 500px;
overflow:hidden;
}








/* ================================================== */
/* call to action */
/* ================================================== */
.call-to-action-box {
background: #f5f5f5;
border: solid 1px #ddd;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}

.call-to-action-box {
background: #27282B;
border: solid 1px #404040;
}

.call-to-action-box .inner {
padding: 20px 20px 20px 20px;
}

.call-to-action-box .text {
margin-right: 20px;
float: left;
}

.call-to-action-box .act {
float: right;
}

.call-to-action-box h3 {
margin: 0;
margin-top:10px;
}

.call-to-action-box .btn{
color:#eceff3;
}

.call-to-action-box{
background: #404040;
color:#eceff3;
}

.call-to-action-box h3 {
color:#eceff3;
}

.call-to-action{ padding:30px 0 30px 0;}

.call-to-action h3{font-size:20px;}









/* ================================================== */
/* overide bootstrap */
/* ================================================== */
.btn-primary{
text-shadow: none;
border: none !important;
}

.btn.btn-primary:hover{
background:#555;
}

.img-responsive {
  display: inline-block;
}

.label {
font-family: "Roboto",Arial, Helvetica, sans-serif;
}

.accordion-heading a {
text-decoration: none;
border: none;
outline: none;
}

p.lead{
	font-size:16px;
	font-weight:500;
}

.panel-group{
opacity:.8;
}

.panel-heading,.panel-body{
background:#27282B;
border:solid 1px #404040 !important;
border-radius:0 !important;
}

.panel-body{
border-top:none !important;
}

.progress{
background:#27282B;
}

.panel-heading h4 a{
display:block;
}

.panel-heading h4 a:hover{
color:#eceff3;
}

.panel-default, .panel-collapse, .panel-collapse, .panel-group .panel {
border:none !important;
border-radius:0 !important;
}

.panel-heading{
background:#222 !important;
}

.table-bordered, .table-bordered td{
border:solid 1px #404040;
}

blockquote {
font-size: 24px;
font-style: italic;
line-height: 1.5em;
font-weight: 300;
}

blockquote span {
display: block;
font-size: 14px;
font-style: normal;
font-weight: normal;
}


.col-md-3{
margin-right:-1px;
}



/* ======================================== */
/* toggle */
/* ======================================== */
.toggle-list{list-style:none; margin:0; padding:0;}
.toggle-list li{ margin-bottom:10px; background:#fff; border:solid 1px #ddd;border-bottom:solid 3px #ddd;}
.toggle-list li h2{-moz-user-select: none; -html-user-select: none; user-select: none; color:#555;font-size:16px; line-height:20px; font-family:"Roboto",Arial, Helvetica, sans-serifr; padding:10px 20px 0px 60px; font-weight:700; display:block; letter-spacing:normal;}
.toggle-list li .acc_active:hover{ color:#777;
background:url(../images/icon-slide-plus.png) 20px center no-repeat; 
padding-left:80px; 
-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;}
 
.toggle-list li .acc_noactive:hover{ color:#777;
background:url(../images/icon-slide-min.png) 20px center no-repeat;
-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;}
.toggle-list .ac-content{display:none; padding:20px; border-top:solid 1px #e5e5e5;}
.acc_active{background:url(../images/icon-slide-plus.png) 20px center no-repeat;
-o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;
 height:32px;
 
 }
.acc_noactive{background:url(../images/icon-slide-min.png) 20px center no-repeat;}


/* ================================================== */
/* image position */
/* ================================================== */
.img-left {
float: left;
margin: 5px 15px 15px 0;
}

.img-right {
float: right;
margin: 5px 0 15px 15px;
}



/* ================================================== */
/* flickr */
/* ================================================== */
#flickr-photo-stream img {
width: 48px;
height: auto;
margin: 0 12px 12px 0;
float: left;
}

#flickr-photo-stream a img {
border: solid 2px #fff;
}

#flickr-photo-stream a:hover img {
border: solid 2px #777777;
}





hr{
border-top: solid 1px #555;
}

hr.blank {
border: none;
margin: 20px 0 20px 0;
}

/* ================================================== */
/* font awesome icons */
/* ================================================== */
i {
display: inline-block !important;
}

i.large {
font-size: 72px;
text-align: center;
display:inline-block;
float:none;
}

i.medium {
font-size: 20px;
padding: 10px;
text-align: center;
display:inline-block;
float:none;
}

i.small {
font-size: 12px;
padding: 4px;
text-align: center;
display:inline-block;
float:none;
}

i.circle-icon {
border-radius: 75px;
-moz-border-radius: 75px;
-webkit-border-radius: 75px;
}

.fa-android{
color:#469159;
}

.fa-apple{
color:#0EC3F7;
}

/* extra ^ */
.de_center p {
width: 100%;
}

.de_center .de_icon {
float: none;
margin: 0 auto;
}


/* ================================================== */
/* transition */
/* ================================================== */
a,
a:hover,
.test-column,
.test-column:hover {
-o-transition: .3s;
-ms-transition: .3s;
-moz-transition: .3s;
-webkit-transition: .3s;
transition: .3s;
}





.de_contact_info{
font-size:40px;
font-weight:bold;
}

.de_contact_info i{
float:none;
margin-right:20px;
}


.center-div{
margin:0 auto !important;
}





/* ================================================== */
/* gallery */
/* ================================================== */
#gallery-carousel .item {
text-align: center;
font-size: 12px;
width:100%;
cursor:e-resize;
}

.de_carousel .item {
width:100%;
display:block;
}


#gallery-carousel .item img {
width:100%;
height:auto;
}

#gallery-carousel .item h4 {
margin-bottom: 0;
font-size: 14px;
}

#gallery .item{
overflow:hidden;
}

.pf_text {
color:#eceff3;
}

.pf_text h4 {
color:#eceff3;
margin-bottom: 0;
font-size: 14px;
font-weight: 600;
}

.project-info{
color:#ccc;
margin-left:20px;
}

.de_light .project-info{
color:#606060;
}

.project-info h2{
margin-top: 0;
font-size:18px;
letter-spacing:3px;
text-transform:uppercase;
}

.project-info h4{
font-weight:bold;
}

.project-info .details{
padding:20px;
border:solid 1px rgba(255,255,255,.2);
background:rgba(0,0,0,.5);
margin-bottom:30px;
}

.de_light .project-info .details{
background:#eee;
border-color:#ddd;
}

.project-infoproject-info span{
display:block;
}

.project-info span.title{
display:inline-block;
min-width:80px;
}

.project-info span.val{
margin-bottom:15px;
font-weight:bold;
}

.project-view{
padding:120px 0 80px 0;
}

.project-images img{
width:100%;
}

.picframe{
overflow:hidden;
}

#btn-close-x{
width:100px;
height:100px;
display:block;
background:url(../images/close.png) center no-repeat;
margin:0 auto;
margin-bottom:80px;
cursor:pointer;
padding:20px;
}

#btn-close-x{
background:url(../images/close-2.png) center no-repeat;
}


.project-name{
font-size:12px;
font-weight:bold;
display:block;
}

span.overlay {
text-align: center;
display: block;
width: 100px;
background: #2f2f36;
position: absolute;
}

span.overlay.plus {
text-align: center;
display: block;
width: 100px;
position: absolute;
background-image:url(../images/ui/hover_pic.png);
background-position:center;
background-repeat:no-repeat;
background-color:#333;

-webkit-box-shadow: 8px 8px 25px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 8px 8px 25px 0px rgba(0,0,0,0.5);
box-shadow: 8px 8px 25px 0px rgba(0,0,0,0.5);
}


span.icon{
cursor:pointer;
}


.overlay .info-area {
display: block;
margin-top: 10%;
}

.overlay .sb-icons {
display: block;
margin-top: 200px;
}

.overlay{
text-align:center;
}

.overlay  .pf_text{
display: inline-block;
}

.project-name{
font-size:14px;
text-transform:uppercase;
}

.overlay .icon {
display: inline-block;
margin-top: 200px;
text-align:center;
}

.overlay .icon i{
text-shadow:none;
color:#fff;
border:solid 1px rgba(255,255,255,.1);
font-size: 22px;
padding: 20px;
width: 60px;
height: 60px;
text-align: center;
margin-left:10px;
}

.overlay .icon i.icon-info{
margin-left:0px;
}

.overlay .icon i:hover{
color:#222;
background:#fff;
}


a.img-icon-url, a.img-icon-zoom {
display: inline-block;
width: 36px;
height: 36px;
background: url(../images/icon-url.png) center no-repeat;
margin: 0 auto;
margin: 0 2px 0 2px;
}

a.img-icon-zoom {
background: url(../images/icon-zoom.png) center no-repeat;
}

.gallery-2-cols .item{
float:left;
width:49.99% !important;
}
.gallery-3-cols .item{
float:left;
width:33.33% !important;
}
.gallery-4-cols .item{
float:left;
width:24.99% !important;
}

.gallery-6-cols .item{
float:left;
width:16.6% !important;
}


.gallery-2-cols img,
.gallery-3-cols img
.gallery-4-cols img{
float:left;
width:100%;
}




/* ================================================== */
/* widget */
/* ================================================== */
#sidebar{
padding-left:20px;
}
 
.widget {
margin-bottom: 40px;
padding-bottom:40px;
border-bottom:solid 2px #ccc;
}

.de_light .widget{
}

.widget h4 {
text-transform:uppercase;
padding-bottom: 20px;
font-size: 16px;
letter-spacing: normal;
font-weight:bold;
}

.widget ul {
list-style: none;
margin: 0;
padding:0;
}

.widget  .small-border{
height:2px;
width:30px;
background:#fff;
margin:10px 0 20px 0;
display:block;
}

.widget_category li {
padding: 8px 20px 8px 20px;
margin-bottom: 8px;
background:#111;
text-transform:uppercase;
}

.de_light .widget_category li {
background:#f8f8f8;
}

.widget_category li a {
color:#606060;
}

.widget_recent_post li {
padding-left: 20px;
background: url(../images/list-arrow.png) left 2px no-repeat;
border-bottom: solid 1px #222;
padding-bottom: 7px;
margin-bottom: 5px;
}

.widget_recent_post li a {
color: #555;
}

.widget-post li{
border-bottom:solid 1px #eee;
padding-bottom:10px;
margin-bottom:10px;
}

.widget-post li span{
display:block;
font-size:12px;
}

.widget .comments li {
padding-left: 20px;
background: url(../images/list-arrow.png) left 2px no-repeat;
border-bottom: solid 1px #eee;
padding-bottom: 7px;
margin-bottom: 5px;
}

.widget_tags li {
text-shadow:none;
display: inline-block;
margin-right: 2px;
margin-bottom: 13px;
}

.widget_tags li a {
font-size:12px;
text-decoration: none;
margin-bottom: 5px;
border-radius: 1px;
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
border:solid 1px rgba(255,255,255,.1);
color: #888;
padding: 5px 8px 5px 8px;
}

.de_light .widget_tags li a {
color:#606060;
border:solid 1px #ddd;
}

.widget_tags li a:hover {
color:#555;
border-color: #555;
}

.de_light .widget_tags li a:hover {
color:#111;
border-color: #111;
}


.widget_top_rated_product ul{
padding:0;
}

.widget_top_rated_product li {
min-height:80px;
}

.widget_top_rated_product li .text{
padding-top:5px;
padding-left:75px;
}

.widget_top_rated_product li img{
position:absolute;
width:60px;
height:60px;
}

.widget_tags li a{
border-color:#555;
}

.widget_tags li a:hover {
color:#eceff3;
border-color:#eceff3;
}

footer .widget{
border:none !important;
margin:0;
}

.widget_tags ul{
margin-top:30px;
}

footer .widget.widget_tags li a{
border-color:#222;
}

footer .widget_recent_post li {
padding: 0 0 5px 0;
margin:0;
background: none;
border-bottom-color:rgba(255,255,255,.1);
}

footer .widget_recent_post li a {
color: #ccc;
}

footer .widget h3{
margin-bottom:20px;
}




/* ================================================== */
/* misc */
/* ================================================== */
a{
text-decoration:none;
}

a:hover{
color:#fff;
}

.de_light a{
}

.container-fluid {
    padding: 0px;
}

.de_light a:hover{
color:#555;
}

#hide-content{position:absolute; width:100%; min-height:100%; z-index:100;display:none; background:rgba(255,255,255,.9);}

.masonry .box-border{
margin-bottom:10px;
}

.padding20{padding:20px;}

.padding-4x{
	padding:40px;
}

.bg-scale{position:absolute; height:100%; width:100%; top:0; z-index:0; overflow:hidden;}

.typed-strings p{position:absolute;}
.typed-cursor{
opacity: 1;
-webkit-animation: blink 0.7s infinite;
-moz-animation: blink 0.7s infinite;
animation: blink 0.7s infinite;
}
@keyframes blink{
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}
@-webkit-keyframes blink{
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}
@-moz-keyframes blink{
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}

#services-list{
padding:0;
margin:0;
}

#services-list li a{
color:#fff;
}

.de_light #services-list li a{
color:#999;
}

#services-list li{
font-weight:bold;
list-style:none;
margin:0;
border-bottom:solid 2px #ddd;
text-transform:uppercase;
}

.padding30{padding:40px;}

.wow{visibility:hidden;}


.service-item{
text-align:center;
}

.service-item h3{
margin-top:30px;
}

.service-item .picframe, .service-item img{
width:90%;
}

.service-item a{
text-decoration:none;	
}

.sub-item-service{
    display:table;
    font-size:14px;
	width:100%;
	margin-bottom:15px;
}

.text-light .sub-item-service .c1{color:#fff;}

.sub-item-service .c1,.c2,.c3{
    display:table-cell;
    width:auto;
 }
 
  .sub-item-service .c1{
  color:#222;
 }
 
 .sub-item-service.desc .c1{
 font-weight:bold;
 }
 
 
 .sub-item-service.desc{
 margin-bottom:5px;
 }
 
.sub-item-service .c1 span.disc{
margin-right:10px;
text-transform:uppercase;
color:#fff;
padding:2px 5px 2px 10px;
}
 

 .sub-item-service .c3{
	font-weight:bold;
	text-align:right;
	color:#333;
 }
 
 .c3 span{
 text-decoration:line-through;
 padding-right:10px;
 color:#bbb;
 }
 
.sub-item-service .c1,.c3{    
    white-space: nowrap;
    width:5%;
}

.sub-item-service .c2{
    border-bottom:dashed 1px #aaa;   
}

.service-text{
	margin-bottom:25px;
}

#services-list li a{
display:block;
padding:20px;
text-decoration:none;
}

#services-list li a:hover{
color:#111;
}

.pic-services img{
margin-bottom:30px;
}

#services-list li.active a{
color:#111;
}

.img-service-thumbnail{
width:150px;
height:150px;
}

.project-images img{
margin-bottom:60px;
}

.teaser-text{
font-size:28px;
color:#fff;
line-height:normal;
font-weight:300;
}

.teaser-text h2{
color:#fff;
font-family:"Open Sans";
}

.teaser-text.style-2{
	letter-spacing:5px;
	font-size:14px;
	font-weight:400;
	text-transform:uppercase;
}

.coming-soon-text h1{
	font-family:"Roboto";
	color:#fff;
	font-size:48px;
	margin-bottom:30px;
	letter-spacing:normal;
	font-weight:lighter !important;
}

.coming-soon-text{
	color:#fff;
	font-size:16px;
}

#navigation{
position:fixed;
width:100%;
height:60px;
top:0;
right:20px;
text-align:center;
margin-bottom:60px;
z-index:1000;
}



.nav-prev:before,.nav-next:before, .nav-exit:before{
	font-family:"FontAwesome";
	content:'\f177';
	color:#fff;
	padding:20px;
	font-size:24px;
	cursor:pointer;
}

.nav-exit:before{
width:100%;
display:block;
}

.nav-next:before{
	content:'\f178';
	width:100%;
	background:#555;
}

.nav-exit:before{
	content:'\f00d';
}

.de_light .nav-exit:before{
color:#222;
}

.container-4 .de-team-list{
width:24.9%;
float:left;
position:relative;
}

.no-bottom{
margin-bottom:0;
padding-bottom:0;
}

p{
	margin-bottom:20px;
}

p.intro{
	font-size:16px;
	line-height:1.5em;
}

section.bg-grey, .bg-grey{
	background:#f5f5f5;
}

.no-bottom .col-md-12 {
}

.no-bottom {
padding-bottom: 0 !important;
}
.no-top {
padding-top: 0 !important;
}


#filters a{
	background:none;
}

.side-bg{
position:relative;
}

.side-bg .image-container {
    height:100%;
    overflow:hidden;
    padding:0;
    position:absolute;
    top:0
}

.side-bg .background-image {
    background-position:50% 50%!important;
    background-size:cover!important;
    width:100%;
    height:100%;
    left:0;
    position:absolute;
    z-index:0;
}

.image-slider{
	cursor:move;
}

.inner-padding{
	padding:90px 0 90px 0;
}

.small-padding{
	padding:40px;
}

.no-padding-left{padding-left:0;}
.no-padding-right{padding-right:0;}
.no-padding-top{padding-top:0;}
.no-padding-bottom{padding-bottom:0;}


.no-padding{
padding:0;
}

.float-left {
float: left;
}

#loader-area{
display:none;
background:#fff;
}

#loader-area{
display:none;
background:#111;
}

.loader {
position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 99999;
background: url('../images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

.page-overlay {
display:none;
width: 120px;
height: 120px;
background:url(../images/page-loader.gif) center no-repeat #fff;
border-radius:10px;
position: fixed;
top:0;
bottom: 0;
left: 0;
right: 0;
z-index:10000;
margin: auto;
}

.teaser{
font-size:15px;
font-weight:300;
}

.form-control:focus{
box-shadow:none;
-moz-box-shadow:none;
-webkit-box-shadow:none;
}

.owl-arrow{
	position:absolute;
	z-index:100;
	background:#fff;
	margin-top:48%;
	display:none;
	cursor:pointer;
}
.owl-arrow span{
	display:block;
	background:#555;
	position:absolute;
	
}
.owl-arrow .prev{
	left:0;
}
.owl-arrow .next{
	right:0;
}

.owl-arrow .prev:before, .owl-arrow .next:before{
	font-family:"FontAwesome";
	content:'\f177';
	color:#fff;
	padding:20px;
	font-size:32px;
	display:block;
}
.owl-arrow .next:before{
	content:'\f178';
}

.owl-theme .owl-controls .owl-page span{
width:5px !important;
height:5px !important;
}

.owl-pagination{
	margin-top:0px;
}

.text-slider, h1.banner-title{
	line-height:40px;
	color:#fff;
	font-size:60px;
	font-weight:bold;
	display:inline-block;
}


.text-slider.big-text{
	font-size:120px;
	line-height:120px;
	font-weight:bold;
}

.border-deco .text-item{
	display:inline-block;
}

.text-item i{
	font-size:60px;
	margin-top:5px;
}

.text-slider.big-text i{
	font-size:90px;
	margin-top:15px;
}

i.icon-bg {
	position:absolute;
	font-size:72px;
	color:rgba(255,255,255,.3);
	right:40px;
	top:40px;
}

.box-outer{
	padding:50px;
	border:solid 2px #fff;
}

.pic-frame.ae6aa8img, .pic-grey{
-webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%); 
}

.pic-grey:hover{
-webkit-filter: grayscale(0%);
       -moz-filter: grayscale(0%);
         -o-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
            filter: grayscale(0%);
}

.box-grey{
padding:40px;
background:#eee;
}

.wow{visibility:hidden;}

/* ================================================== */
/* quick-search */
/* ================================================== */
.quick-search {
display: inline-block;
float: right;
margin-left: 10px;
padding: 10px 0 0 0;
}

.quick-search input {
width: 120px;
border-radius: 40px;
} 

#search{
float:left;
width:70%;
margin-bottom:0;
}

#btn-search{
border:none;
padding:7px;
background:#222;
float:left;
width:30%;
height:42px;
}

#btn-search:before{
	font-family:FontAwesome;
	content: "\f002";
	font-size:24px;
	color:#fff;
}

#btn-search:hover{
}


.margintop10{margin-top:10px;}
.margintop20{margin-top:20px;}
.margintop30{margin-top:30px;}
.margintop40{margin-top:40px;}
.margintop50{margin-top:50px;}
.margintop60{margin-top:60px;}

.marginbottom10{margin-bottom:10px;}
.marginbottom20{margin-bottom:20px;}
.marginbottom30{margin-bottom:30px;}
.marginbottom40{margin-bottom:40px;}
.marginbottom50{margin-bottom:50px;}
.marginbottom60{margin-bottom:60px;}

.bordertop{border-top:solid 1px #eee;}

/* ================================================== */
/* review */
/* ================================================== */
.de_review {
text-align:center;
min-height:260px;
}

.de_review .de_nav {
overflow: hidden;
padding-left: 0;
margin: 0;
padding: 0;
font-weight:bold;
text-align:center;
}

.de_review .de_nav li {
list-style: none;
background: #EEE;
margin: 0 10px 0 10px;
margin-bottom:20px;
}

.de_review .de_nav li{
display:inline-block;
}

.de_review .de_nav li img{
width:100px;
height:auto;
}

.de_review .de_nav li span {
padding: 8px 16px 8px 16px;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
border-left: 1px solid #ddd;
border-right: 1px solid #ddd;
display: block;
background: #f5f5f5;
text-decoration: none;
color: #646464;
font-size: 13px;
cursor: pointer;
}

.de_review blockquote{
border:none;
}

.de_review .de_nav li span {
border: 1px solid #404040;
background:#222;
}

.de_review .de_nav li:first-child span {
border-left: 1px solid #ddd;
}

.de_review .de_nav li:first-child span {
border-left: 1px solid #404040;
}

.de_review .de_review_content {
border: 1px solid #ddd;
padding: 15px 20px 20px 20px;
margin-top: -1px;
background: #fff;
}

.de_review .de_review_content {
border: 1px solid #404040;
background: #27282b;
}

.de_review .de_nav li.active span {
background: #FFF;
border-bottom: 1px solid #fff;
color: #222;
margin-bottom: -3px;
}


.separator {
  line-height: 0.5;
  text-align: center;
  margin:30px 0 30px 0;
}
.separator span {
  display: inline-block;
  position: relative;
 
}
.separator span:before,
.separator span:after {
  content: "";
  position: absolute;
  border-bottom: 1px solid rgba(255,255,255,.1);
  top: 5px;
  width: 200px;
}
.separator span:before {
  right: 100%;
  margin-right: 15px;
}
.separator span:after {
  left: 100%;
  margin-left: 15px;
}

.separator span  i{
font-size:6px;
padding:0;
margin:0;
float:none;
}

.de_light .separator span:before,
.de_light .separator span:after {
  border-bottom: 1px solid rgba(0,0,0,.2);
}

.separator.light span:before,
.separator.light span:after {
  border-bottom: 1px solid rgba(255,255,255,.5);
}

.text-light .separator span:before,
.text-light .separator span:after {
  border-bottom: 1px solid rgba(255,255,255,.1);
}

}

/* ================================================== */
/* R E S P O N S I V E */
/* ================================================== */
	@media(min-width:980px) and (max-width: 1199px) {
	
	header #mainmenu a{
	padding-left:5px;
	padding-right:5px;
	}
	
	#mainmenu li a:after{
	margin-left:15px;
	}
	
	}
	
	
	
	}

	/* -------------------------------------------------- 
	design for 768px
	/* ================================================== */
	@media (min-width: 768px) and (max-width: 979px) {
	.slider_text {
	padding-top: 0px;
	}
	
	}
	
	
	@media only screen and (max-width: 992px) {
	.logo_pos{
	display:none !important;
	}
	
	#menu-btn{
	display:block;
	position:relative;
	float:right;
	}
	
	
	header{
	display:none;
	}
	
	header.header-bg{
	background:rgba(0,0,0,1);
	}

	
	header,header.fixed {
	display:block;
	position:inherit;
	margin:0;
	padding:0;
	margin-top:0;
	height:auto;
	background:#000000;
	padding:15px 0 15px 0;

	}
	
	header.fixed {
	display:block;
	position:inherit;
	margin:0;
	padding:0;
	margin-top:0;
	height:40px;
	background:#000000; 
	overflow:hidden;
	}
	header.fixed #logo {
	height: 100%;
	line-height: 120px;
	float: left;
	}
	
	
	header.fixed #logo img{
	height:auto;
	}
	
	#subheader{
		padding:0;
		margin:0;
	}
	#subheader h1{
		margin:45px 0 45px 0;
	}
	#subheader span{
	display:none;
	}
	#subheader .crumb{
	display:none;
	}
	
	.slider_text h1 {
	font-size: 32px;
	}
	
	.slider_text .description {
	display: none;
	}
	#logo{
	margin-top:-15px;
	}
	#logo, #logo .inner {
	 vertical-align:middle;
	 height:auto;
	}
	
	#domain-check .text, #domain-check .button {
	width: 100%;
	}
	
	.container-4 .de-team-list{
	width:49.9%;
	float:left;
	position:relative;
	}
	
	#testimonial-full blockquote {
	padding: 20px;
	}
	
	#revolution-slider{
	}
	
	nav{
	width:100%;
	}
	
	#mainmenu{
	float:none;
	z-index:200;
	width:100%;
	margin:0;
	padding:0;
	user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
	}
	
	#mainmenu a{
	text-align:left;
	padding-top:10px !important;
	padding-bottom:10px !important;
	}
	
	#mainmenu a:hover{
	background:#111 !important;
	}
	
	
	#mainmenu li ul,
	#mainmenu > li > ul > li > ul{
	display:block;
	position:inherit;
	margin:0;
	width:100%;
	}
	
	#mainmenu li{
	border-bottom:solid 1px #222;
	margin:0;
	width:100%;
	display:block;
	letter-spacing:3px;
	}
	
	#mainmenu li a, #mainmenu > li > ul > li > a{
	padding-left:0 !important;
	}
	
	#mainmenu li a:after{
	display:none;
	}
	
	#mainmenu li:last-child{
	margin-bottom:30px;
	}
	
	#mainmenu li ul{
	border-top:solid 1px #222;
	top:auto;
	}
	
	#mainmenu li ul a{
	width:100%;
	background:none;
	border:none;
	}
	
	#mainmenu li ul li{
	border:none;
	padding-left: 40px !important;
	}
	
	#mainmenu li ul li a{
	display:block;
	border-bottom:solid 1px #222;
	font-size:13px;
	}
	
	#mainmenu li ul li:last-child{
	border-bottom:none;
	margin:0;
	}
	
	#mainmenu li ul li:last-child a{
	border-bottom:none;
	}
	#mainmenu li a{
	color:#eceff3;
	}
	
	#mainmenu  li li a{
	font-size:10px;
	}
	
	#mainmenu  li li a:hover{
	color:#fff;
	}
	
	#mainmenu li ul li a, #mainmenu li ul li ul li a {
		background:none;
	}
	
	#mainmenu > li > a{
		margin:0;
	}
	
	#mainmenu > li > ul > li > ul > li > a{
	padding-left:0 !important;
	padding-right:0 !important;
	}
	
	#mainmenu > li > ul, 
	#mainmenu > li > ul > li > ul{
	height:0;
	overflow:hidden;
	position:relative;
	}
	
	#mainmenu > li > span{
		width:36px;
		height:36px;
		background:url(../images/ui/arrow-down.png) center no-repeat;
		position:absolute;
		right:0;
		margin-top:-36px;
		z-index:1000;
	}
	
	#mainmenu > li > ul > li > span{
		width:36px;
		height:36px;
		background:url(../images/ui/arrow-down.png) center no-repeat;
		position:absolute;
		right:0;
		margin-top:-36px;
		z-index:1000;
	}
	
	
	
	.de_tab.tab_steps  .de_nav{
	text-align:center;
	}
	
	.de_tab.tab_steps .de_nav li{
	display:block;
	margin:0;
	padding:0;
	}
	
	.de_tab.tab_steps .de_nav li span{
	margin:0;
	margin-bottom:40px;
	display:inline-block;
	}
	
	.de_tab.tab_steps .de_nav li .v-border{
	border:none;
	}
	
	.container .col-md-3{ margin-bottom:20px; }
	.container .col-md-4{ margin-bottom:20px; }
	.container .col-md-5{ margin-bottom:20px; }
	.container .col-md-6{ margin-bottom:20px; }
	.container .col-md-7{ margin-bottom:20px; }
	.container .col-md-8{ margin-bottom:20px; }
	.container .col-md-9{ margin-bottom:20px; }
	.container .col-md-10{ margin-bottom:20px; }
	.container .col-md-11{ margin-bottom:20px; }
	.container .col-md-12{ margin-bottom:20px; }
	
	.hidden-phone{
		display:none;
	}	
	
	header.transparent{
	position:absolute;
	height:70px;
	overflow:hidden;
	}
	
	header.transparent.bg-dark{
	background:#111;
	}
	
	
	
	#logo{
	display:block !important;
	}
	
	#logo img{
	height:40px;
	}
	
	.logo_center img{
	display:none;	
	}

	.bg-scale{
	background-size:auto 100% !important;
	background-position:center !important;
	}
	
	.mobile-hide{
	display:none;
	}
	
	.display-table{
	display:block;
	}

	.display-table [class*="col-"] {
	float: none;
	display: block;
	vertical-align: top;
	}
	
	}
	
	/* -------------------------------------------------- 
	custom for 320px & 480px 
	/* -------------------------------------------------- */
	@media only screen and (max-width: 767px) {
	.pricing-2-col .pricing-box, .pricing-3-col .pricing-box, .pricing-4-col .pricing-box, .pricing-5-col .pricing-box {
	width: 100%;
	}
	
	.container-4 .de-team-list{
	width:100%;
	float:left;
	position:relative;
	}
	
	.countdown-section {
	font-size: 12px;
	}
	.countdown-amount {
		font-size: 36px;
	}
	
	}
	
	
	/* -------------------------------------------------- 
	design for 480px
	/* -------------------------------------------------- */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container{padding-left:30px; padding-right:30px;}
	.feature-box-image,.pricing-box{margin-bottom:30px;}
	
	}
	
	
	/* -------------------------------------------------- 
	design for 320px
	/* -------------------------------------------------- */
	@media only screen and (max-width: 767px) {
	.container{padding-left:30px; padding-right:30px;}
	.feature-box-image,.pricing-box{margin-bottom:30px;}
	
	.de_tab .de_nav li {
	display: block;
	width: 100%;
	}
	
	.gallery-2-cols .item,.gallery-3-cols .item,.gallery-4-cols .item, .gallery-5-cols .item, .gallery-6-cols .item{
	float:left;
	width:49.9% !important;
	}

	.text-item{
	font-size:48px;
	line-height:48px;
	}
	
	.text-item i{
	font-size:36px;
	}
	
	.display-table{
	display:block;
	}

	.display-table [class*="col-"] {
		float: none;
		display: block;
		vertical-align: top;
	}
	
	.mobile-hide{
	display:none;
	}
	
	}
	
	/* -------------------------------------------------- 
	design for 320px
	/* -------------------------------------------------- */
	@media only screen and (max-width: 480px) {
	.pf_full_width .item{
	float:left;
	width:100% !important;
	}
	
	.text-item{
	font-size:32px;
	line-height:32px;
	}
	
	.text-item i{
	font-size:24px;
	}
	
	/* -------------------------------------------------- 
	design for 320px
	/* -------------------------------------------------- */
	@media (min-width: 300px) and (max-width: 979px) {
	header{position:fixed;}
	#mainmenu li a{ display:block; width:100%;}
	section{ background-position:top !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment:scroll;
	}
	.team img.team-pic{max-width:300px;}
	}
