/*
Theme Name: Fincorp
Theme URI: https://flythemes.net/wordpress-themes/fincorp-free-wordpress-theme/
Author: Flythemes
Author URI: https://flythemes.net
Description: Fincorp Banking WordPress theme is a finest platform for creating modern, professional banking websites. Refined demo websites help save time and money in getting the website up and running. Customization is quick and intuitive whether it is a multi-page or a single page layout. Also, the layout options are plentiful and accessible. This theme is translation ready and fully responsive. This theme is compatible with the latest version of WordPress and the plugins like woocommerce and contact form 7.

Version: 1.1.1
License: GNU General Public License
License URI: license.txt
Text Domain: fincorp
Tags: one-column, two-columns, right-sidebar, custom-background, custom-header, custom-menu, featured-images, full-width-template, theme-options, threaded-comments, translation-ready, holiday, photography

Fincorp WordPress Theme has been created by Flythemes(flythemes.net), 2017.
Fincorp WordPress Theme is released under the terms of GNU GPL
*/


*{
	outline:none;
}
body {
    margin: 0;
    padding: 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    background-color: #fff;
    font: 15px/22px 'PT Sans';
    color: #7c7b79;
	background-color:#f1f1f1;
}
img {
    margin: 0;
    padding: 0;
    border: none;
    max-width: 100%;
    height: auto;
}
section img {
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
	font-family: 'Karla', sans-serif;
	line-height:normal;
}
p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #0fa5d9;
}
a:hover {
    text-decoration: none;
    color: #666;
}
ul {
    margin: 0 0 0 15px;
    padding: 0;
}
.clear {
    clear: both;
}
.center {
    text-align: center;
    margin-bottom: 40px;
}
pre {
    border: 1px solid #d1d1d1;
    font-size: 1rem;
    line-height: 1.3125;
    margin: 0 0 1.75em;
    max-width: 100%;
    overflow: auto;
    overflow-wrap: break-word;
    padding: 1.75em;
    white-space: pre-wrap;
}
.middle-align {
    margin: 0 auto;
    padding: 0;
}
.wp-caption {
    margin: 0;
    padding: 0;
    font-size: 13px;
    max-width: 100%;
}
.wp-caption-text {
    margin: 0;
    padding: 0;
}
.sticky {
    margin: 0;
    padding: 0;
}
.screen-reader-text,
.bypostauthor,
.gallery-caption {
    margin: 0;
    padding: 0;
}
.alignleft,
img.alignleft {
    display: inline;
    float: left;
    margin-right: 45px;
    margin-top: 4px;
    margin-bottom: 20px;
    padding: 0;
}
.alignright,
img.alignright {
    display: inline;
    float: right;
}
.aligncenter,
img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
.comment-list .comment-content ul {
    list-style: none;
    margin-left: 15px;
}
.comment-list .comment-content ul li {
    margin: 5px;
}
.main-container ol {
    list-style-position: outside;
}
.main-container ol li {
    margin: 5px 0;
}
.toggleMenu {
    display: none;
}
section {
    padding: 50px 0;
    position: relative;
}
h2.section-title {
    font-family: 'Karla', sans-serif;;
    font-size: 33px;
    font-weight: 700;
    padding: 0 0 20px 0;
    text-align: center;
    text-transform: capitalize;
    display: table;
    margin-bottom: 50px;
	color:#4d4d4b;
}

.header-top {
    background-color: #0e2d45;
    color: #ffffff;
    line-height: 36px;
    font-size: 13px;
}
.header-top h3.header-title {
    display: none;
}
.header-top .left {
    padding: 6px 0;
    font-weight: 400;
    font-family: 'Karla', sans-serif;
    font-size: 13px;
    float: left;
}
.header-top .left a {
    color: #969bae;
}
.header-top .left a:hover {
    color: #ffffff;
}
.header-top .right {
    text-align: right;
    padding: 6px 0;
    font-weight: 400;
    font-family: 'Karla', sans-serif;
    font-size: 13px;
    float: right;
}

.header-top .right span .fa { 
	margin-right:8px; font-size:1.3em;
}

#slider {
    margin: 0 auto;
    padding: 0;
    position: relative;
}
#slider .top-bar {
    margin: 0;
    padding: 16px 0 20px;
    position: relative;
}
#slider .top-bar h2 {
    font: 700 40px 'Montserrat', sans-serif;
    padding: 25px 0 5px 0;
    text-transform: uppercase;
    line-height: 55px;
}
#slider .top-bar h2 a {
    color: #ffffff;
}
#slider .top-bar h2 a:hover {
    color: #ffffff;
}
#slider .top-bar p {
    color: #ffffff;
    margin: 0 0 10px 0;
    padding: 5px 0 25px;
    border-radius: 0 0 5px 5px;
    font: 400 15px/25px 'Roboto', sans-serif;
}
a.button{ 
	color:#ffffff; 
	font:400 14px/22px 'Roboto', sans-serif; 
	padding:10px 25px; 
	display:inline-block; 
	background-color:#10da60; 
	border-radius:5px;
	text-transform:uppercase;
}
.main-container {
    margin: 0;
    padding: 0;
}
.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
.header .header-inner .logo {
    margin: 0;
    padding: 0;
}
.header .header-inner .logo h1 {
    font-weight: 600;
    padding: 0;
    font-size: 30px;
}
.header .header-inner .logo a {
    font-family: 'Montserrat', sans-serif;
}
.header .header-inner .logo p {
    font-size: 14px;
    font-family: 'PT Sans';
    color: #0e2d45;
}
.toggle {
    display: none;
}
.header {
    width: 100%;
    position: relative;
    background-color: #ffffff;
    border-bottom: 1px solid #eef0ef;
}
.header-inner {
    width: 1160px;
    margin: 0 auto;
    position: relative;
}
.header_right {
    float: right;
    width: 65%;
    padding: 18px 0;
}
.right-box {
    float: left;
    width: 35%;
    margin-right: 20px;
}
.right-box.last {
    margin-right: 0;
}
.searchbar {
    width: 27%;
    float: right;
}
.searchbar .search-field {
    border: 1px solid #ececec;
    border-radius: 29px;
    position: relative;
    width: 100%;
    height: 33px;
}
.searchbar .search-form .search-submit {
    height: 15px;
    padding: 0;
    position: absolute;
    right: 5px;
    top: 39%;
    width: 25px;
    background: url(images/submit-icon.png) no-repeat;
}
.right-box .fa {
    font-size: 30px;
    float: left;
    color: #5747cb;
    border-right: 1px solid #ececec;
    text-align: center;
    padding-right: 20px;
    margin: 6px 16px 0 0;
    width: 30px;
}
.bx-text {
    width: 74%;
    float: left;
    text-align: left;
}
.bx-text h5 {
    font: 600 15px 'Montserrat';
    color: #444444;
    text-transform: capitalize;
    margin-bottom: 0;
}
.bx-text span {
    font: 500 13px 'Montserrat';
    color: #8b8b8b;
}
.bx-text span a {
    color: #8b8b8b;
}
.bx-text span a:hover {
    color: #10da60;
}
#navigation {
    background-color: #ffffff;
    margin: 0 auto;
    z-index: 99;
}
.sitenav {
    padding: 0;
    position: relative;
    z-index: 9999;
    float: left;
    display: inline-block;
}
.sitenav ul {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #ffffff;
}
.sitenav ul li {
    display: table-cell;
    position: relative;
}
.sitenav ul li:last-child {
    border-right: none;
}
.sitenav ul li a {
    padding: 25px 23px;
    display: block;
    transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    -webkit-transition: all 0.6s ease 0s;
    color: #000000;
}
.sitenav ul li ul li {
    display: block;
    position: relative;
    float: none;
    top: -1px;
    border-bottom: 1px #434242 solid;
}
.sitenav ul li ul li a {
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;
    position: relative;
    top: 1px;
    text-align: left;
    color: #000000;
}
.sitenav ul li a:hover,
.sitenav ul li.current_page_item a {
    color: #5747cb;
}
.sitenav ul li ul {
    display: none;
    z-index: 9999;
    position: relative;
}
.sitenav ul li:hover > ul {
    display: block;
    width: 203px;
    position: absolute;
    left: 0;
    text-align: left;
}
.sitenav ul li:hover ul li ul {
    display: none;
    position: relative;
}
.sitenav ul li:hover ul li:hover > ul {
    display: block;
    position: absolute;
    left: 200px;
    top: 1px;
}
@media screen and (min-width: 1000px) {
    .header .header-inner .logo {
        float: left;
        margin-top: 8px;
    }
}

/* = section first We Are css
-------------------------------------------------------------- */
h2.section_title {
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 15px;
    color: #444444;
    line-height: 35px;
    font-family: 'Montserrat';
    display: block;
    margin: 0 auto 15px;
    position: relative;
}
h2.section_title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #f0f0f0;
    width: 75px;
    height: 3px;
}
.we-are {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
}
.we-are h2.section_title {
    width: 36%;
}
.we-are p {
    width: 54%;
    margin: 0 auto 20px;
}
.we-are-box {
    width: 28%;
    float: left;
    margin: 20px 23px 20px 0;
    padding: 20px 20px;
    text-align: center;
    border: 1px solid #dfe4ee;
    cursor: pointer;
    box-shadow: 0px 0px 16px -4px #dfe4ee;
    -webkit-box-shadow: 0px 0px 16px -4px #dfe4ee;
    -moz-box-shadow: 0px 0px 16px -4px #dfe4ee;
    -o-box-shadow: 0px 0px 16px -4px #dfe4ee;
    background-color: #ffffff;
}
.we-are-box#last {
    margin-right: 0;
}
.we-are-box .fa {
    font-size: 4em;
    margin-bottom: 20px;
    color: #10da60;
}
.we-are-box h2 {
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
    line-height: 28px;
}
.we-are-box h2 a {
    color: #444444;
}
.we-are-box p {
    width: auto;
}

/* --------- Pages ------- */

.content-area {
    width: 1160px;
    margin: 0 auto;
    padding: 50px 0;
}
.site-main {
    width: 800px;
    margin: 0;
    padding: 0;
    float: left;
}
#sitefull {
    width: auto !important;
}
#nosidebar {
    width: 80%;
    margin: 0 auto;
    float: none;
    text-align: center;
}
#sidebar {
    width: 270px;
    margin: 0;
    padding: 0;
    float: right;
}
/* -------- Footer ------- */

.copyright-wrapper{ margin:0; text-align:center; padding:15px 0; color:#ffffff;}
.copyright-wrapper a{ color:#ffffff;}
/* ------ Contact Form ------ */

.wpcf7 {
    margin: 0;
    padding: 0;
    font: 400 15px 'Roboto Condensed', sans-serif;
    color: #ffffff;
}
.wpcf7 form {
    margin: 0;
    padding: 0;
}
.wpcf7 form span.last {
    float: none !important;
}
.wpcf7 form input[type="text"],
.wpcf7 form input[type="email"],
.wpcf7 form input[type="tel"],
.wpcf7 form input[type="url"],
.wpcf7 form input[type="date"],
.wpcf7 form select,
.leftdiv input[type="text"],
.leftdiv input [type="url"],
.leftdiv input[type="email"],
.leftdiv input[type="tel"],
.wpcf7 form textarea,
.rightdiv textarea {
    width: 94%;
    background-color: #f8f8f8;
    border: 1px solid #e6e5e5;
    padding: 10px;
    margin-top: 15px;
    font: 400 14px 'Roboto Condensed', sans-serif;
    color: #777777;
}
.wpcf7 form textarea,
.rightdiv textarea {
    height: 128px;
}
.wpcf7 form input[type="checkbox"],
.wpcf7 form input[type="radio"],
.wpcf7 form input[type="file"] {
    margin-top: 10px;
    padding: 0;
}
span.wpcf7-list-item {
    margin: 0 15px 0 0 !important;
}
.wpcf7 form input[type="submit"],
#contact input[type="submit"] {
    font: 400 15px 'Roboto';
    margin: 25px 0 0 0;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    cursor: pointer;
    background-color: #000000;
	color:#ffffff;
}
.error_msg {
    padding: 10px;
    background: #ffd3ce;
    color: #e00;
    border: 1px #e00 solid;
    margin: 15px 0;
}
.success_msg {
    padding: 10px;
    background: #dcffc5;
    color: #070;
    border: 1px #070 solid;
    margin: 15px 0;
}
.spacer20 {
    height: 20px;
    clear: both;
}
.nav-links {
    display: table;
    clear: both;
    margin: 15px 0;
    width: 100%;
}
.nav-previous {
    float: left;
}
.nav-next {
    float: right;
}
.nav-links a,
.nav-links .page-numbers {
    background: #2e2e2e;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
}
.nav-links .current,
.nav-links a:hover {
    background: #ee6133;
}
h1.entry-title,
h1.page-title {
    padding-bottom: 20px;
    font-size: 30px;
}
article.tag-sticky-2 {
    background: #f6f6f6;
    padding: 10px;
}
article img {
    height: auto;
}
article p {
    margin: 10px 0;
}
.post-date {
    display: inline;
}
.post-comment {
    display: inline;
}
.post-categories {
    display: inline;
}
.post-tags {
    display: inline;
}
.post-thumb, .postmeta{
	margin-top:10px;
}
form.search-form {
    margin-bottom: 15px;
}
input.search-field,
.post-password-form input[type=password] {
    border: 1px #eee solid;
    padding: 4px;
}
input.search-submit,
.post-password-form input[type=submit] {
    border: none;
    color: #ffffff;
    padding: 4px 10px;
    cursor: pointer;
}
aside.widget {
    margin-bottom: 30px;
}
aside.widget ul {
    list-style: disc;
    margin-left: 13px;
}
.accordion-box h2.active {
    color: #ff8a00;
}
.webicon {
    font-size: 20px;
}
#sidebar ul li {
    margin: 5px 0;
}
.comment-list,
ol.comment-list {
    list-style: none;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
	padding-left:0;
}
.comment-list ul,
ol.comment-list ul {
    list-style: none;
}
.comment-list li.comment {
    margin-top: 20px;
}
.comment-list .comment-content h1,
.comment-list .comment-content h2,
.comment-list .comment-content h3,
.comment-list .comment-content h4,
.comment-list .comment-content h5,
.comment-list .comment-content h6 {
    margin-top: 15px;
}
ol.comment-list li ol{
	list-style:none;
}
h3.widget-title {
    font-size: 18px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.blog-post-repeat {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 40px;
}
a.blogthumbs img {
    width: 100%;
}
#wp-calendar td {
    padding: 9px;
}
.textwidget select {
    border: 1px solid #ccc;
    height: 30px;
    width: 100%;
}
/*------- COMMENT STYLES --------*/

.comment-author.vcard {
    display: inline-block;
    margin-right: 15px;
}
.comment-author img {
    display: block;
}
.comment-meta {
    margin: 5px 0;
}
.comment-list ol.children li.comment {
    background-image: none;
    padding-left: 5px;
}
.hrule {
    border-top: 1px #dbdbdb solid;
    margin-top: 15px;
    padding-bottom: 15px;
}
ol.commentlist {
    list-style: none;
}
#commentform p {
    margin: 5px 0;
}
#commentform label {
    display: block;
}
#commentform input#email,
#commentform input#url,
#commentform input#author,
#commentform textarea,
#commentform input#eazycfc_captcha {
    max-width: 96%;
    border: 1px #ccc solid;
    padding: 5px 2%;
}
#commentform input#submit {
    font: 400 15px 'Roboto Condensed', sans-serif;
    border: none;
    padding: 5px 10px;
    color: #fff;
    display: inline-block;
}
#commentform input#submit:hover {
    cursor: pointer;
}
.form-allowed-tags {
    display: none;
}
ul.errormsg {
    background: #ffe4e4;
}
ul.errormsg li {
    padding: 5px;
}
.entry-content table,
.comment-body table {
    border-collapse: collapse;
    margin: 10px 0;
}
.entry-content table td,
.entry-content table th,
.comment-body table td,
.comment-body table th {
    padding: 10px 5px;
    text-align: left;
}
.entry-content table th,
.comment-body table th {
    color: #676767;
    font: normal 18px Oswald;
    border-bottom: 1px #888 solid;
}
.entry-content table td,
.comment-body table td {
    border-bottom: 1px #ccc solid;
}
.fvch-codeblock:hover .comment-form-url {
    display: block !important;
}
footer.entry-meta {
    clear: left;
}
